<section class="container py-4">
  <form (ngSubmit)="onSubmit()" [formGroup]="formGroup" autocomplete="off">
    <h1>Editar Financiera</h1>
    <mat-form-field>
      <input type="text" matInput placeholder="N° RUC" formControlName="document" maxlength="11">
    </mat-form-field>
    <mat-form-field>
      <input type="text" matInput placeholder="Rason Social" formControlName="name">
    </mat-form-field>
    <mat-form-field>
      <input type="email" matInput placeholder="Email" formControlName="email">
    </mat-form-field>
    <mat-form-field>
      <input type="text" matInput placeholder="Celular" formControlName="mobileNumber">
    </mat-form-field>
    <mat-form-field>
      <input type="text" matInput placeholder="Telefono" formControlName="phoneNumber">
    </mat-form-field>
    <mat-form-field>
      <input type="text" matInput placeholder="Anexo" formControlName="annexed">
    </mat-form-field>
    <button type="button" mat-raised-button routerLink="/financiers" class="mr-2">CANCELAR</button>
    <div class="divider"></div>
    <button type="submit" mat-raised-button color="primary" [disabled]="isLoading">GUARDAR</button>
  </form>
</section>