<section class="container">
    <div class="mat-elevation-z2">
      <table mat-table [dataSource]="dataSource" class="w-100">
        <ng-container matColumnDef="document">
          <th mat-header-cell *matHeaderCellDef>N° Documento</th>
          <td mat-cell *matCellDef="let element">{{ element.documentType }}: {{ element.document }}</td>
        </ng-container>
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef>Razon Social/Nombres</th>
          <td mat-cell *matCellDef="let element" class="text-capitalize truncate-cell">{{ element.name }}</td>
        </ng-container>
        <ng-container matColumnDef="email">
          <th mat-header-cell *matHeaderCellDef>Email</th>
          <td mat-cell *matCellDef="let element">{{ element.email }}</td>
        </ng-container>
        <ng-container matColumnDef="mobileNumber">
          <th mat-header-cell *matHeaderCellDef>Celular</th>
          <td mat-cell *matCellDef="let element" [ngClass]="{ 'text-muted': !element.phoneNumber }">{{ element.mobileNumber || 'Ninguno' }}</td>
        </ng-container>
        <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef></th>
          <td mat-cell *matCellDef="let element">
            <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu" xPosition="before">
              <button [routerLink]="['/businesses', element._id, 'edit']" mat-menu-item>
                <mat-icon>edit</mat-icon>
                <span>Editar</span>
              </button>
              <button (click)="onShowConstructions(element._id)" mat-menu-item>
                <mat-icon>construction</mat-icon>
                <span>Obras</span>
              </button>
            </mat-menu>
          </td>
        </ng-container>
    
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    
      <mat-paginator [pageSizeOptions]="pageSizeOptions" [pageSize]="pageSize" [pageIndex]="pageIndex" [length]="length" (page)="handlePageEvent($event)" showFirstLastButtons></mat-paginator>
    </div>
    <div class="fixed-bottom p-3" style="right: 0; left: unset; width: auto;">
      <button mat-fab color="primary" class="float-right" routerLink="/businesses/create">
        <mat-icon>add</mat-icon>
      </button>
    </div>
  </section>