<section class="container py-4">
  <form (ngSubmit)="onSubmit()" [formGroup]="formGroup" autocomplete="off">
    <mat-form-field appearance="fill">
      <mat-label>Tipo de Documento *</mat-label>
      <mat-select formControlName="documentType">
        <mat-option value="RUC">RUC</mat-option>
        <mat-option value="DNI">DNI</mat-option>
        <mat-option value="CE">CE</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>N° de Documento *</mat-label>
      <input type="text" matInput formControlName="document" [maxlength]="maxlength">
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Nombres/Razon Social *</mat-label>
      <input type="text" matInput formControlName="name">
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Email *</mat-label>
      <input type="email" matInput formControlName="email">
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>País de residencia</mat-label>
      <input type="text" matInput formControlName="residence">
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Nacionalidad *</mat-label>
      <input type="text" matInput formControlName="nationality">
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Profesión / Ocupación</mat-label>
      <input type="text" matInput formControlName="professionOccupation">
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Porcentaje *</mat-label>
      <input type="number" matInput formControlName="percent">
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Celular</mat-label>
      <input type="text" matInput formControlName="mobileNumber">
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Telefono</mat-label>
      <input type="text" matInput formControlName="phoneNumber">
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Anexo</mat-label>
      <input type="text" matInput formControlName="annexed">
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Direccion</mat-label>
      <input type="text" matInput formControlName="address">
    </mat-form-field>
    <div class="mb-3">
      <mat-slide-toggle [(ngModel)]="isCheckedPEP" [ngModelOptions]="{standalone: true}">PEP</mat-slide-toggle>
    </div>
    <mat-form-field appearance="fill" *ngIf="isCheckedPEP">
      <mat-label>Institución</mat-label>
      <input type="text" matInput formControlName="PEPInstitution">
    </mat-form-field>
    <mat-form-field appearance="fill" *ngIf="isCheckedPEP">
      <mat-label>Cargo</mat-label>
      <input type="text" matInput formControlName="PEPPositionn">
    </mat-form-field>
    <div class="d-flex">
      <span class="spacer"></span>
      <button type="button" mat-stroked-button routerLink="/shareholders" color="primary">CANCELAR</button>
      <div class="divider"></div>
      <button type="submit" [disabled]="isLoading" mat-raised-button color="primary">GUARDAR</button>
    </div>
  </form>
</section>