<section class="container py-4">
    <form (ngSubmit)="onSubmit()" [formGroup]="formGroup" autocomplete="off">
      <mat-form-field>
        <mat-label>N° de RUC</mat-label>
        <input type="text" matInput formControlName="document" maxlength="11">
      </mat-form-field>
      <mat-form-field>
        <mat-label>Razon Social</mat-label>
        <input type="text" matInput formControlName="name">
      </mat-form-field>
      <mat-form-field>
        <mat-label>Direccion</mat-label>
        <input type="text" matInput formControlName="address">
      </mat-form-field>
      <mat-form-field>
        <mat-label>Representante legal</mat-label>
        <input type="text" matInput formControlName="representative">
      </mat-form-field>
      <mat-form-field>
        <mat-label>Documento representante legal</mat-label>
        <input type="text" matInput formControlName="representativeDocument">
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Operador tributario</mat-label>
        <mat-select formControlName="businessId">
          <mat-option class="text-uppercase" *ngFor="let business of businesses" [value]="business._id">
            {{ business.name }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-list class="mb-1">
        <div mat-subheader>
          Empresas
          <div class="spacer"></div>
          <button type="button" mat-mini-fab color="primary" (click)="openDialogBusinesses()">
            <mat-icon>add</mat-icon>
          </button>
        </div>
        <mat-list-item *ngFor="let business of businesses; let i = index;">
          <mat-icon mat-list-icon>face</mat-icon>
          <div mat-line>{{ business.name | uppercase }}</div>
          <div mat-line>{{ business.document }}</div>
          <div class="spancer"></div>
          <button type="button" mat-icon-button (click)="removeBusiness(i)">
            <mat-icon>delete</mat-icon>
          </button>
        </mat-list-item>
        <mat-divider></mat-divider>
      </mat-list>
      <div class="mt-3 d-flex">
        <span class="spacer"></span>
        <button type="button" mat-stroked-button color="primary" routerLink="/insurancePartnerships">CANCELAR</button>
        <div class="divider"></div>
        <button type="submit" [disabled]="isLoading" mat-raised-button color="primary">GUARDAR</button>
      </div>
    </form>
  </section>