<section class="py-5">
  <form class="container" (ngSubmit)="onSubmit()" [formGroup]="loginForm">
    <h1>Por favor identifiquese</h1>
    <mat-form-field>
      <input type="email" matInput placeholder="Email" formControlName="email">
    </mat-form-field>
    <mat-form-field>
      <input type="password" matInput placeholder="Contraseña" formControlName="password">
    </mat-form-field>
    <div class="mb-3">
      <button type="submit" mat-raised-button color="primary" class="w-100" [disabled]="isLoading">INGRESAR</button>
    </div>
    <div class="text-center text-muted mt-1">v{{ version }}</div>
  </form>
</section>