<section class="container py-4">
  <form (ngSubmit)="onSubmit()" [formGroup]="financierForm" autocomplete="off">
    <!-- <h1>Nueva Financiera</h1> -->
    <mat-form-field>
      <input type="text" matInput placeholder="N° RUC *" formControlName="document" maxlength="11">
    </mat-form-field>
    <mat-form-field>
      <input type="text" matInput placeholder="Razon Social *" formControlName="name">
    </mat-form-field>
    <mat-form-field>
      <input type="email" matInput placeholder="Email *" formControlName="email">
    </mat-form-field>
    <mat-form-field>
      <input type="text" matInput placeholder="Celular" formControlName="mobileNumber">
    </mat-form-field>
    <mat-form-field>
      <input type="text" matInput placeholder="Telefono" formControlName="phoneNumber">
    </mat-form-field>
    <mat-form-field>
      <input type="text" matInput placeholder="Anexo" formControlName="annexed">
    </mat-form-field>
    <h2>Prima emision</h2>
    <mat-form-field>
      <input type="number" matInput placeholder="Porcentaje de prima *" formControlName="emitionPrimaPercentage">
    </mat-form-field>
    <mat-form-field>
      <input type="number" matInput placeholder="Porcentaje de derecho de emision *" formControlName="emitionLawPercentage">
    </mat-form-field>
    <mat-form-field>
      <input type="number" matInput placeholder="Gastos *" formControlName="emitionCharge">
    </mat-form-field>
    <h2>Prima renovacion</h2>
    <mat-form-field>
      <input type="number" matInput placeholder="Porcentaje de prima *" formControlName="renewalPrimaPercentage">
    </mat-form-field>
    <mat-form-field>
      <input type="number" matInput placeholder="Porcentaje de derecho de emision *" formControlName="renewalLawPercentage">
    </mat-form-field>
    <mat-form-field>
      <input type="number" matInput placeholder="Gastos *" formControlName="renewalCharge">
    </mat-form-field>
    <div class="d-flex">
      <span class="spacer"></span>
      <button type="button" mat-stroked-button color="primary" routerLink="/financiers" class="mr-2">CANCELAR</button>
      <div class="divider"></div>
      <button type="submit" mat-raised-button color="primary">GUARDAR</button>
    </div>
  </form>
</section>