<section class="container gravity-center">
  <div style="width: 100%;">
    <div class="text-center mb-1">
      <mat-icon class="material-icons md-48">warning</mat-icon>
    </div>
    <h1 class="text-center mb-0 mat-display-1">Este dispositivo no ha sido autorizado</h1>
    <h3 class="text-center">Contacte al soporte tecnico</h3>
    <h3 class="text-center">ID de equipo: {{ deviceIdTwo }}</h3>
    <button type="submit" mat-raised-button color="primary" class="w-100" (click)="onLogout()">CERRAR SESION</button>
  </div>
</section>