<section class="container">
  <div class="mat-elevation-z2">
    <table mat-table [dataSource]="dataSource" class="w-100">
      <ng-container matColumnDef="document">
        <th mat-header-cell *matHeaderCellDef>N° Documento</th>
        <td mat-cell *matCellDef="let element">{{ element.documentType }}: {{ element.document }}</td>
      </ng-container>
      <ng-container matColumnDef="business">
        <th mat-header-cell *matHeaderCellDef>Empresa</th>
        <td mat-cell *matCellDef="let element" class="text-capitalize truncate-cell">{{ element.business.name | uppercase }}</td>
      </ng-container>
      <ng-container matColumnDef="partnership">
        <th mat-header-cell *matHeaderCellDef>Consorcio</th>
        <td mat-cell *matCellDef="let element" class="text-capitalize truncate-cell" [ngClass]="{ 'text-muted': !element.partnership }">{{ (element.partnership || { name: 'NINGUNO' }).name | uppercase }}</td>
      </ng-container>
      <ng-container matColumnDef="beneficiary">
        <th mat-header-cell *matHeaderCellDef>Beneficiario</th>
        <td mat-cell *matCellDef="let element" class="text-capitalize truncate-cell">{{ element.beneficiary.name | uppercase }}</td>
      </ng-container>
      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let element">
          <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
            <mat-icon>more_vert</mat-icon>
          </button>
          <mat-menu #menu="matMenu" xPosition="before">
            <button type="button" (click)="onDialogTemplates(element)" mat-menu-item>
              <mat-icon>tasks</mat-icon>
              <span>Formatos</span>
            </button>
            <button type="button" [routerLink]="['/templates', element._id, 'edit']" mat-menu-item>
              <mat-icon>edit</mat-icon>
              <span>Editar</span>
            </button>
            <!-- <button type="button" (click)="onDelete(element._id)" mat-menu-item>
              <mat-icon>delete</mat-icon>
              <span>Eliminar</span>
            </button> -->
          </mat-menu>
        </td>
      </ng-container>
  
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <mat-paginator [pageSizeOptions]="pageSizeOptions" [pageSize]="pageSize" [pageIndex]="pageIndex" [length]="length" (page)="handlePageEvent($event)" showFirstLastButtons></mat-paginator>
  </div>
  <div class="fixed-bottom p-3" style="right: 0; left: unset; width: auto;">
    <button mat-fab color="primary" class="float-right" routerLink="/templates/create">
      <mat-icon>add</mat-icon>
    </button>
  </div>
</section>
<!-- <mat-tab-group>
  <mat-tab label="Secrex">
    <section class="container">
      <a [href]="[ baseUrl + 'templates/suretyInsuranceSolution' ]" mat-raised-button color="primary" target="_blank" class="w-100 mb-3">INFORMACION CONFIDENCIAL BASICA</a>
      <a [href]="[ baseUrl + 'templates' ]" mat-raised-button color="primary" target="_blank" class="w-100 mb-3">INFORMACION CONFIDENCIAL BASICA</a>
      <a [href]="[ baseUrl + 'templates' ]" mat-raised-button color="primary" target="_blank" class="w-100">INFORMACION CONFIDENCIAL BASICA</a>
    </section>
  </mat-tab>
</mat-tab-group> -->
