.mat-dialog-content
  // display: block
  // margin: 0 -24px
  // padding: 0 24px
  // max-height: none
  // overflow: hidden

:host ::ng-deep .mat-tab-body-wrapper
  height: 75vh
  overflow: hidden !important

:host ::ng-deep .mat-tab-body-content
  // height: 70vh
  overflow: hidden !important

mat-tab-body-content.wrapper
  // overflow: hidden !important