<mat-tab-group [selectedIndex]="tabIndex" (selectedIndexChange)="tabIndex = $event" style="overflow: hidden;">
  <mat-tab label="Documentos">
    <mat-tree [dataSource]="dataSource" [treeControl]="treeControl">
      <mat-tree-node *matTreeNodeDef="let node" matTreeNodePadding>
        <button mat-icon-button disabled></button>
        <button mat-raised-button (click)="onChangePdf(node)" color="primary">{{ node.name }}</button>
        <span class="divider"></span>
        <button mat-icon-button (click)="onDeletePdf(node)" mat-icon-button class="text-muted">
          <mat-icon>delete</mat-icon>
        </button>
      </mat-tree-node>
      <mat-tree-node *matTreeNodeDef="let node; let i = index; when: hasChild" matTreeNodePadding>
        <button mat-icon-button matTreeNodeToggle [attr.aria-label]="'Toggle ' + node.name">
          <mat-icon class="mat-icon-rtl-mirror">
            {{ treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right' }}
          </mat-icon>
        </button>
        <span class="text-uppercase">
          {{ node.name }}
        </span>
        <span class="divider"></span>
        <button (click)="onUpdateBusinessNode(node._id)" mat-icon-button class="text-muted">
          <mat-icon>edit</mat-icon>
        </button>
        <button (click)="onDeleteBusinessNode(node._id)" mat-icon-button class="text-muted">
          <mat-icon>delete</mat-icon>
        </button>
        <button mat-icon-button (click)="fileInput.click()" class="text-muted">
          <mat-icon>attach_file</mat-icon>
        </button>
        <input type="file" #fileInput (change)="onFileSelected(fileInput.files, node._id, node, fileInput)" [accept]="accept" hidden multiple>
      </mat-tree-node>
    </mat-tree>
  </mat-tab>
  <mat-tab label="Preview">
    <iframe [src]="url" frameborder="0" style="overflow:hidden;height:100%;width:100%"></iframe>
  </mat-tab>
</mat-tab-group>
<mat-dialog-actions>
  <span class="spacer"></span>
  <button mat-stroked-button mat-dialog-close color="primary">VOLVER</button>
  <button type="submit" mat-raised-button (click)="onCreateBusinessNode()" color="primary">NUEVO CARPETA</button>
</mat-dialog-actions>