<section class="container py-4">
  <form (ngSubmit)="onSubmit()" [formGroup]="formGroup" autocomplete="off">
    <button type="button" mat-button color="primary" (click)="onEditProvider()" class="w-100">
      <span class="mat-h1">{{ provider?.name }}</span>
    </button>
    <p class="text-center m-0">{{ provider?.address }}</p>
    <p class="text-center m-0">{{ provider?.mobileNumber }}</p>
    <mat-form-field appearance="standard">
      <mat-label>Medio de pago</mat-label>
      <mat-select formControlName="paymentCode">
        <mat-option *ngFor="let element of paymentTypes" [value]="element.code">{{ element.name }}</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <input type="text" matInput placeholder="Descripcion" formControlName="concept">
    </mat-form-field>
    <mat-form-field>
      <input type="number" matInput placeholder="Importe" formControlName="charge">
    </mat-form-field>
    <mat-form-field>
      <input type="text" matInput placeholder="Observaciones" formControlName="observations">
    </mat-form-field>
    <mat-form-field appearance="standard">
      <mat-label>Fecha de pago</mat-label>
      <input matInput [matDatepicker]="picker" formControlName="paymentAt">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
    <mat-form-field appearance="standard">
      <mat-label>Cuenta de la empresa</mat-label>
      <mat-select formControlName="accountNumber" (selectionChange)="onBankChange($event.value)">
        <mat-option *ngFor="let element of banks" [value]="element.accountNumber">{{ element.bankName }} {{ element.accountNumber }}</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field appearance="standard">
      <mat-label>Cuenta del proveedor</mat-label>
      <mat-select formControlName="providerAccountNumber" (selectionChange)="onProviderBankChange($event.value)">
        <mat-option *ngFor="let element of providerBanks" [value]="element.accountNumber">{{ element.bankName }} {{ element.accountNumber }}</mat-option>
      </mat-select>
    </mat-form-field>
    <div class="py-3">
      <mat-slide-toggle formControlName="isPaid">Pagado</mat-slide-toggle>
    </div>
    <div class="d-flex">
      <span class="spacer"></span>
      <div class="py-3">
        <button type="button" mat-stroked-button routerLink="/customers" color="primary">CANCELAR</button>
        <span class="divider"></span>
        <button type="submit" [disabled]="isLoading" mat-raised-button color="primary">GUARDAR</button>
      </div>
    </div>
  </form>
</section>