<section class="container py-4">
  <form (ngSubmit)="onSubmit()" [formGroup]="formGroup" autocomplete="off">
    <button type="button" mat-button color="primary" (click)="onEditProvider()" class="w-100">
      <span class="mat-h1">{{ provider?.name }}</span>
    </button>
    <div class="mb-3">
      <p class="text-center m-0">{{ provider?.address }}</p>
      <p class="text-center m-0">{{ provider?.mobileNumber }}</p>
    </div>
    <div class="my-3">
      <button type="button" (click)="onAttachPdf()" [disabled]="isLoading" mat-raised-button color="primary">ADJUNTOS</button>
    </div>
    <mat-form-field appearance="fill">
      <mat-label>Razon social</mat-label>
      <mat-select formControlName="companyId">
        <mat-option *ngFor="let company of companies" [value]="company._id">{{ company.name }}</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Cuenta de la empresa</mat-label>
      <mat-select formControlName="bankId">
        <mat-option *ngFor="let element of banks" [value]="element._id">{{ element.providerName }} - {{ element.bankName }} {{ element.accountNumber }}</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Descripcion</mat-label>
      <input type="text" matInput formControlName="concept">
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Importe</mat-label>
      <input type="number" matInput formControlName="charge">
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Moneda</mat-label>
      <mat-select formControlName="currencyCode">
        <mat-option value="PEN">PEN</mat-option>
        <mat-option value="USD">USD</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Observaciones</mat-label>
      <input type="text" matInput formControlName="observations">
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Fecha de pago</mat-label>
      <input matInput [matDatepicker]="picker" formControlName="paymentAt">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Cuenta del proveedor</mat-label>
      <mat-select formControlName="providerBankId">
        <mat-option *ngFor="let element of providerBanks" [value]="element._id">{{ element.bankName }} {{ element.accountNumber }}</mat-option>
      </mat-select>
    </mat-form-field>
    <div class="py-3">
      <mat-slide-toggle formControlName="isPaid">Pagado</mat-slide-toggle>
    </div>
    <div class="d-flex">
      <span class="spacer"></span>
      <div class="py-3">
        <button type="button" mat-stroked-button routerLink="/businesses" color="primary">CANCELAR</button>
        <span class="divider"></span>
        <button type="submit" [disabled]="isLoading" mat-raised-button color="primary">GUARDAR</button>
      </div>
    </div>
  </form>
</section>