<mat-tab-group [selectedIndex]="tabIndex" (selectedIndexChange)="tabIndex = $event" style="overflow: hidden;">
    <mat-tab label="Documentos">
        <mat-action-list>
            <button mat-list-item *ngFor="let businessBasePdf of businessBasePdfs"
                (click)="onBusinessBaseSelect(businessBasePdf)">
                <span matListItemTitle>{{ businessBasePdf.realfilename }}</span>
            </button>
        </mat-action-list>
    </mat-tab>
</mat-tab-group>
<mat-dialog-actions>
    <span class="spacer"></span>
    <button mat-stroked-button mat-dialog-close color="primary">VOLVER</button>
</mat-dialog-actions>