<section class="container">
  <form [formGroup]="formGroup" autocomplete="off">
    <mat-form-field appearance="fill">
      <mat-label>Estado de obra</mat-label>
      <mat-select formControlName="constructionCode" (selectionChange)="fetchData()">
        <mat-option value="">TODOS LOS ESTADOS</mat-option>
        <mat-option value="01">EJECUCION</mat-option>
        <mat-option value="02">POR TERMINAR</mat-option>
        <mat-option value="03">PARALIZADA</mat-option>
        <mat-option value="04">EN ARBITRAJE</mat-option>
        <mat-option value="05">ANULADA</mat-option>
        <mat-option value="06">FINALIZADA</mat-option>
        <mat-option value="07">AMORTIZADO</mat-option>
      </mat-select>
    </mat-form-field>
  </form>
  <div class="d-flex">
    <canvas #creditsChart></canvas>
  </div>
  <!-- <mat-list role="list">
    <mat-list-item role="listitem" *ngFor="let element of summaries; let i = index">
      {{ element._id }} ({{ element.count }})
      <span class="spacer"></span>
      {{ element.totalPrima.toFixed(2) }}
    </mat-list-item>
  </mat-list> -->
</section>