<mat-nav-list class="pt-0">
  <div class="nav-header p-2 text-white overflow-hidden">
    <p class="text-capitalize text-bold mb-1">Horvi</p>
    <span class="m-0 text-capitalize text-truncate">{{ office?.name }}</span>
  </div>
  <a href="#" #search mat-list-item routerLink="/seace" (click)="onClose()" *ngIf="privileges.seace">
    <mat-icon class="mr-2">travel_explore</mat-icon>
    <span>Seace</span>
  </a>
  <a href="#" #search mat-list-item routerLink="/search" (click)="onClose()" *ngIf="privileges.search">
    <mat-icon class="mr-2">search</mat-icon>
    <span>Buscar Admin</span>
  </a>
  <a href="#" #search mat-list-item routerLink="/search/commercial" (click)="onClose()" *ngIf="privileges.searchCommercial">
    <mat-icon class="mr-2">search</mat-icon>
    <span>Buscar</span>
  </a>
  <a href="#" #constructions mat-list-item routerLink="/constructions" (click)="onClose()" *ngIf="privileges.constructions">
    <mat-icon class="mr-2">construction</mat-icon>
    <span>Obras Admin</span>
  </a>
  <a href="#" #constructions mat-list-item routerLink="/constructions/commercial" (click)="onClose()" *ngIf="privileges.constructionsCommercial">
    <mat-icon class="mr-2">construction</mat-icon>
    <span>Obras</span>
  </a>
  <a href="#" #partnerships mat-list-item routerLink="/partnerships" (click)="onClose()" *ngIf="privileges.partnerships">
    <mat-icon class="mr-2">people</mat-icon>
    <span>Consorcios Admin</span>
  </a>
  <a href="#" #partnerships mat-list-item routerLink="/partnerships/commercial" (click)="onClose()" *ngIf="privileges.partnershipsCommercial">
    <mat-icon class="mr-2">people</mat-icon>
    <span>Consorcios</span>
  </a>
  <a href="#" #businesses mat-list-item routerLink="/businesses" (click)="onClose()" *ngIf="privileges.businesses">
    <mat-icon class="mr-2">people</mat-icon>
    <span>Empresas Admin</span>
  </a>
  <a href="#" #businesses mat-list-item routerLink="/businesses/commercial" (click)="onClose()" *ngIf="privileges.businessesCommercial">
    <mat-icon class="mr-2">people</mat-icon>
    <span>Empresas</span>
  </a>
  <a href="#" #beneficiaries mat-list-item routerLink="/beneficiaries" (click)="onClose()" *ngIf="privileges.beneficiaries">
    <mat-icon class="mr-2">people</mat-icon>
    <span>Beneficiarios</span>
  </a>
  <a href="#" #financiers mat-list-item routerLink="/financiers" (click)="onClose()" *ngIf="privileges.financiers">
    <mat-icon class="mr-2">account_balance</mat-icon>
    <span>Financieras</span>
  </a>
  <a href="#" #users mat-list-item routerLink="/users" (click)="onClose()" *ngIf="privileges.users">
    <mat-icon class="mr-2">face</mat-icon>
    <span>Usuarios</span>
  </a>
  <a href="#" #workers mat-list-item routerLink="/workers" (click)="onClose()" *ngIf="privileges.workers">
    <mat-icon class="mr-2">face</mat-icon>
    <span>Personal</span>
  </a>
  <a href="#" #cheques mat-list-item routerLink="/cheques" (click)="onClose()" *ngIf="privileges.cheques">
    <mat-icon class="mr-2">replay</mat-icon>
    <span>Garantias Admin</span>
  </a>
  <a href="#" #cheques mat-list-item routerLink="/cheques/commercial" (click)="onClose()" *ngIf="privileges.chequesCommercial">
    <mat-icon class="mr-2">replay</mat-icon>
    <span>Garantias</span>
  </a>
  <a href="#" #credits mat-list-item routerLink="/credits" (click)="onClose()" *ngIf="privileges.credits">
    <mat-icon class="mr-2">text_snippet</mat-icon>
    <span>Lineas de credito</span>
  </a>
  <a href="#" #credits mat-list-item routerLink="/fideicomisos" (click)="onClose()" *ngIf="privileges.fideocomisos">
    <mat-icon class="mr-2">text_snippet</mat-icon>
    <span>Fideicomisos</span>
  </a>
  <a href="#" #credits mat-list-item routerLink="/isos" (click)="onClose()" *ngIf="privileges.isos">
    <mat-icon class="mr-2">text_snippet</mat-icon>
    <span>Isos</span>
  </a>
  <mat-expansion-panel class="mat-elevation-z0">
    <mat-expansion-panel-header #guaranties *ngIf="privileges.guaranties">
      <mat-panel-title>
        <mat-icon class="mr-2">text_snippet</mat-icon>
        Fianzas
      </mat-panel-title>
    </mat-expansion-panel-header>
    <a href="#" mat-list-item routerLink="/materials" (click)="onClose()">
      <span>A. de Materiales</span>
    </a>
    <a href="#" mat-list-item routerLink="/directs" (click)="onClose()">
      <span>A. Directo</span>
    </a>
    <a href="#" mat-list-item routerLink="/compliances" (click)="onClose()">
      <span>F. Cumplimiento</span>
    </a>
    <a href="#" mat-list-item routerLink="/guaranties" (click)="onClose()">
      <span>Renovaciones Fianzas</span>
    </a>
    <a href="#" mat-list-item routerLink="/mails" (click)="onClose()">
      <span>Mails enviados</span>
    </a>
  </mat-expansion-panel>
  <mat-expansion-panel class="mat-elevation-z0">
    <mat-expansion-panel-header #insurances *ngIf="privileges.insurances">
      <mat-panel-title>
        <mat-icon class="mr-2">text_snippet</mat-icon>
        Seguros
      </mat-panel-title>
    </mat-expansion-panel-header>
    <a href="#" mat-list-item routerLink="/insurances/SCTR" (click)="onClose()">
      <span>SCTR</span>
    </a>
    <a href="#" mat-list-item routerLink="/insurances/SOAT" (click)="onClose()">
      <span>SOAT</span>
    </a>
    <a href="#" mat-list-item routerLink="/insurances/VIDALEY" (click)="onClose()">
      <span>VIDA LEY</span>
    </a>
    <a href="#" mat-list-item routerLink="/insurances/POLIZACAR" (click)="onClose()">
      <span>POLIZA CAR</span>
    </a>
    <a href="#" mat-list-item routerLink="/insurances/POLIZATREC" (click)="onClose()">
      <span>POLIZA TREC</span>
    </a>
    <a href="#" mat-list-item routerLink="/insurances/POLIZAEAR" (click)="onClose()">
      <span>POLIZA EAR</span>
    </a>
    <a href="#" mat-list-item routerLink="/insurances/RCIVIL" (click)="onClose()">
      <span>RES. CIVIL</span>
    </a>
    <a href="#" mat-list-item routerLink="/insurances/VEHICULAR" (click)="onClose()">
      <span>VEHICULAR</span>
    </a>
    <a href="#" mat-list-item routerLink="/insurances/VIDA" (click)="onClose()">
      <span>VIDA</span>
    </a>
    <a href="#" mat-list-item routerLink="/insurances/EPS" (click)="onClose()">
      <span>EPS</span>
    </a>
    <a href="#" mat-list-item routerLink="/insurances/SALUD" (click)="onClose()">
      <span>SALUD</span>
    </a>
    <a href="#" mat-list-item routerLink="/insurances/ACCIDENTES" (click)="onClose()">
      <span>ACCIDENTES P.</span>
    </a>
    <mat-divider></mat-divider>
    <a href="#" mat-list-item routerLink="/insuranceBusinesses" (click)="onClose()">
      <span>Empresas</span>
    </a>
    <a href="#" mat-list-item routerLink="/insurancePartnerships" (click)="onClose()">
      <span>Consorcios</span>
    </a>
    <a href="#" mat-list-item routerLink="/brokers" (click)="onClose()">
      <span>Brokers</span>
    </a>
    <a href="#" mat-list-item routerLink="/insuranceConstructions" (click)="onClose()">
      <span>Obras</span>
    </a>
    <a href="#" mat-list-item routerLink="/insurances/renew" (click)="onClose()">
      <span>Renovaciones Seguros</span>
    </a>
    <a href="#" mat-list-item routerLink="/insurances/report/reportPie" (click)="onClose()">
      <span>Reporte</span>
    </a>
  </mat-expansion-panel>
  <mat-accordion>
    <mat-expansion-panel class="mat-elevation-z0">
      <mat-expansion-panel-header #expenses *ngIf="privileges.templates">
        <mat-panel-title>
          <mat-icon class="mr-2">task</mat-icon>
          Formatos
        </mat-panel-title>
      </mat-expansion-panel-header>
      <a href="#" #search mat-list-item routerLink="/templates" (click)="onClose()">
        <span>Formatos</span>
      </a>
      <a href="#" #shareholders mat-list-item routerLink="/shareholders" (click)="onClose()">
        <span>Accionistas</span>
      </a>
      <a href="#" #shareholders mat-list-item routerLink="/templatePartnerships" (click)="onClose()">
        <span>Consorcios</span>
      </a>
    </mat-expansion-panel>
    <mat-expansion-panel class="mat-elevation-z0">
      <mat-expansion-panel-header #expenses *ngIf="privileges.expenses">
        <mat-panel-title>
          <mat-icon class="mr-2">local_atm</mat-icon>
          Contabilidad
        </mat-panel-title>
      </mat-expansion-panel-header>
      <a href="#" #providers mat-list-item routerLink="/providers" (click)="onClose()">
        <span>Proveedores</span>
      </a>
      <a href="#" #paymentOrders mat-list-item routerLink="/paymentOrders" (click)="onClose()">
        <span>Ordenes de pago</span>
      </a>
      <a href="#" #paymentOrders mat-list-item routerLink="/payments" (click)="onClose()">
        <span>Ingresos</span>
      </a>
      <a href="#" #banks mat-list-item routerLink="/banks" (click)="onClose()">
        <span>Cuentas bancarias</span>
      </a>
      <a href="#" mat-list-item routerLink="/constructions/debtors" (click)="onClose()">
        <span>Recaudacion</span>
      </a>
      <a href="#" #banks mat-list-item routerLink="/paymentOrders/report" (click)="onClose()">
        <span>Resumen</span>
      </a>
    </mat-expansion-panel>
    <mat-expansion-panel class="mat-elevation-z0">
      <mat-expansion-panel-header #reports *ngIf="privileges.r1 || privileges.r2 || privileges.r3 || privileges.r4 || privileges.r5 || privileges.r6 || privileges.r7 || privileges.r8  || privileges.r9">
        <mat-panel-title>
          <mat-icon class="mr-2">poll</mat-icon>
          Reportes
        </mat-panel-title>
      </mat-expansion-panel-header>
      <a href="#" mat-list-item routerLink="/collections" (click)="onClose()" *ngIf="privileges.r1">
        <span>Suma asegurada</span>
      </a>
      <a href="#" mat-list-item routerLink="/primas" (click)="onClose()" *ngIf="privileges.r2">
        <span>Primas</span>
      </a>
      <a href="#" mat-list-item routerLink="/legals" (click)="onClose()" *ngIf="privileges.r3">
        <span>Documentacion legal</span>
      </a>
      <a href="#" mat-list-item routerLink="/documentation" (click)="onClose()" *ngIf="privileges.r4">
        <span>Documentacion faltante</span>
      </a>
      <a href="#" mat-list-item routerLink="/constructions/withoutDocumentation" (click)="onClose()" *ngIf="privileges.r5">
        <span>Obras sin documentacion</span>
      </a>
      <a href="#" mat-list-item routerLink="/insurances/report/report" (click)="onClose()" *ngIf="privileges.r6">
        <span>Seguros 1</span>
      </a>
      <a href="#" mat-list-item routerLink="/insurances/report/reportPie" (click)="onClose()" *ngIf="privileges.r7">
        <span>Seguros 2</span>
      </a>
      <a href="#" mat-list-item routerLink="/credits/report" (click)="onClose()" *ngIf="privileges.r8">
        <span>Lineas de credito</span>
      </a>
      <a href="#" mat-list-item routerLink="/constructions/percentCompletions" (click)="onClose()" *ngIf="privileges.r9">
        <span>Avance de obras</span>
      </a>
      <a href="#" mat-list-item routerLink="/constructions/updatePercentCompletions" (click)="onClose()" *ngIf="privileges.r9">
        <span>Actualizacion de avanze de obras</span>
      </a>
    </mat-expansion-panel>
  </mat-accordion>
  <mat-divider></mat-divider>
  <a href="#" mat-list-item routerLink="/settings" (click)="onClose()" *ngIf="user?.isAdmin">
    <mat-icon class="mr-2">build</mat-icon>
    <span>Ajustes</span>
  </a>
  <a href="#" mat-list-item routerLink="/logout" (click)="onClose()">
    <mat-icon class="mr-2">logout</mat-icon>
    <span>Cerrar sesion</span>
  </a>
</mat-nav-list>