<mat-nav-list class="pt-0">
  <div class="nav-header p-2 text-white overflow-hidden">
    <p class="text-capitalize text-bold mb-1">{{ business?.tradeName }}</p>
    <span class="m-0 text-capitalize text-truncate">{{ user?.name }}</span>
  </div>
  <!-- <a href="#" mat-list-item routerLink="/dashboard" (click)="onClose()">
    <mat-icon class="mr-2">home</mat-icon>
    <span>Dashboard</span>
  </a> -->
  <a href="#" mat-list-item routerLink="/search" (click)="onClose()">
    <mat-icon class="mr-2">search</mat-icon>
    <span>Buscar</span>
  </a>
  <a href="#" mat-list-item routerLink="/customers" (click)="onClose()">
    <mat-icon class="mr-2">face</mat-icon>
    <span>Clientes</span>
  </a>
  <a href="#" mat-list-item routerLink="/partnerships" (click)="onClose()">
    <mat-icon class="mr-2">group</mat-icon>
    <span>Consorcios</span>
  </a>
  <a href="#" mat-list-item routerLink="/beneficiaries" (click)="onClose()">
    <mat-icon class="mr-2">group_add</mat-icon>
    <span>Beneficiarios</span>
  </a>
  <a href="#" mat-list-item routerLink="/financiers" (click)="onClose()">
    <mat-icon class="mr-2">account_balance</mat-icon>
    <span>Financieras</span>
  </a>
  <a href="#" mat-list-item routerLink="/users" (click)="onClose()">
    <mat-icon class="mr-2">people</mat-icon>
    <span>Usuarios</span>
  </a>
  <mat-accordion>
    <mat-expansion-panel class="mat-elevation-z0">
      <mat-expansion-panel-header>
        <mat-panel-title>
          <mat-icon class="mr-2">text_snippet</mat-icon>
          Fianzas
        </mat-panel-title>
      </mat-expansion-panel-header>
      <a href="#" mat-list-item routerLink="/materials" (click)="onClose()">
        <span>A. de Materiales</span>
      </a>
      <a href="#" mat-list-item routerLink="/directs" (click)="onClose()">
        <span>A. Directo</span>
      </a>
      <a href="#" mat-list-item routerLink="/compliances" (click)="onClose()">
        <span>F. Cumplimiento</span>
      </a>
    </mat-expansion-panel>
    <mat-expansion-panel class="mat-elevation-z0">
      <mat-expansion-panel-header>
        <mat-panel-title>
          <mat-icon class="mr-2">poll</mat-icon>
          Reportes
        </mat-panel-title>
      </mat-expansion-panel-header>
      <a href="#" mat-list-item routerLink="/guaranties" (click)="onClose()">
        <span>Cumplimiento de Fianzas</span>
      </a>
      <a href="#" mat-list-item routerLink="/cheques" (click)="onClose()">
        <span>Cheques por cobrar</span>
      </a>
      <a href="#" mat-list-item routerLink="/cheques/all" (click)="onClose()">
        <span>Todos los cheques</span>
      </a>
      <a href="#" mat-list-item routerLink="/mails" (click)="onClose()">
        <span>Mails enviados</span>
      </a>
    </mat-expansion-panel>
  </mat-accordion>
  <mat-divider></mat-divider>
  <!-- <a href="#" *ngIf="(user$ | async)?.isAdmin" mat-list-item routerLink="/settings" (click)="onClose()">
    <mat-icon class="mr-2">build</mat-icon>
    <span>Ajustes</span>
  </a> -->
  <a href="#" mat-list-item routerLink="/logout" (click)="onClose()">
    <mat-icon class="mr-2">logout</mat-icon>
    <span>Cerrar sesion</span>
  </a>
</mat-nav-list>