<section class="container py-4">
  <form (ngSubmit)="onSubmit()" [formGroup]="formGroup" autocomplete="off">
    <mat-form-field appearance="standard">
      <mat-label>Tipo de Documento *</mat-label>
      <mat-select formControlName="documentType">
        <mat-option value="RUC">RUC</mat-option>
        <mat-option value="DNI">DNI</mat-option>
        <mat-option value="CE">CE</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <input type="text" matInput placeholder="N° de Documento *" formControlName="document" [maxlength]="maxLength">
    </mat-form-field>
    <mat-form-field>
      <input type="text" matInput placeholder="Nombres/Razon Social *" formControlName="name">
    </mat-form-field>
    <mat-form-field>
      <input type="text" matInput placeholder="Direccion" formControlName="address">
    </mat-form-field>
    <mat-form-field>
      <input type="text" matInput placeholder="Celular" formControlName="mobileNumber">
    </mat-form-field>
    <mat-form-field>
      <input type="text" matInput placeholder="Email" formControlName="email">
    </mat-form-field>
    <ng-container formArrayName="banks" *ngFor="let item of formArray.controls; let i = index;">
      <div class="d-flex" [formGroupName]="i">
        <mat-form-field appearance="standard">
          <mat-select formControlName="bankName">
            <mat-option value="BCP">BCP</mat-option>
            <mat-option value="BBVA">BBVA</mat-option>
            <mat-option value="INTERBANK">INTERBANK</mat-option>
            <mat-option value="SCOTIABANK">SCOTIABANK</mat-option>
            <mat-option value="BANCO DE LA NACION">BANCO DE LA NACION</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field appearance="standard">
          <input type="text" matInput placeholder="N° de cuenta *" formControlName="accountNumber">
          <button type="button" mat-icon-button matSuffix (click)="onRemoveAccount(i)">
            <mat-icon>delete</mat-icon>
          </button>
        </mat-form-field>
      </div>
    </ng-container>
    <button type="button" mat-raised-button color="primary" (click)="onAddAccount()">AGREGAR NUMERO DE CUENTA</button>
    <div class="d-flex">
      <span class="spacer"></span>
      <div class="py-3">
        <button type="button" mat-stroked-button routerLink="/providers" color="primary">CANCELAR</button>
        <span class="divider"></span>
        <button type="submit" [disabled]="isLoading" mat-raised-button color="primary">GUARDAR</button>
      </div>
    </div>
  </form>
</section>