<section class="container py-4">
    <div class="mb-3">
        <button type="button" class="w-100 mb-4" (click)="onAttachFile()" mat-raised-button color="primary"
            [disabled]="isLoading">
            DOCUMENTOS DE LA OPERACION
        </button>
        <button type="button" color="accent" class="w-100 mb-4" (click)="onDownloadFiles()" mat-raised-button
            [disabled]="isLoading">
            DESCARGAR DOCUMENTOS SELECCIONADOS
        </button>
        <ng-container *ngFor="let business of businesses">
            <mat-divider class="mb-4"></mat-divider>
            <div class="w-100 mb-4">
                <button type="button" class="w-100 mb-3" (click)="onDialogAttachPdfDocuments(business._id)"
                    [disabled]="isLoading" mat-raised-button color="primary">
                    DOCUMENTOS {{ business.name }}
                </button>
                <button type="button" class="w-100 mb-3" (click)="onDialogAttachPdfExperiences(business._id)"
                    [disabled]="isLoading" mat-raised-button color="primary">
                    EXPERIENCIA {{ business.name }}
                </button>
                <button type="button" class="w-100 mb-3" (click)="onDialogAttachPdfFinancials(business._id)"
                    [disabled]="isLoading" mat-raised-button color="primary">
                    D. FINANCIEROS {{ business.name }}
                </button>
                <!-- <button type="button" color="accent" class="w-100" (click)="onDownloadBusinessFiles(business)" mat-raised-button>
                    DESCARGAR DOCUMENTOS SELECCIONADOS
                </button> -->
            </div>
        </ng-container>
    </div>
    <mat-divider class="mb-4"></mat-divider>
    <!-- <button type="button" class="w-100 mb-4" (click)="onDownloadFiles()" mat-raised-button color="primary">
        DESCARGAR DOCUMENTOS SELECCIONADOS
    </button> -->
    <form (ngSubmit)="onSubmit()" [formGroup]="formGroup" autocomplete="off">
        <div class="mb-3">
            <mat-slide-toggle formControlName="sendAt" (change)="onChangeSendAt()">
                Enviar a operaciones
            </mat-slide-toggle>
        </div>
        <mat-form-field appearance="fill">
            <mat-label>Observaciones</mat-label>
            <input type="text" matInput formControlName="observations">
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Estado de operacion</mat-label>
            <mat-select formControlName="status">
                <mat-option value="01">PENDIENTE</mat-option>
                <mat-option value="02">ENVIADO</mat-option>
                <mat-option value="03">OBSERVADO</mat-option>
                <mat-option value="04">DESESTIMADO</mat-option>
                <mat-option value="05">RECHAZADO</mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Nombre de operacion</mat-label>
            <input type="text" matInput formControlName="name">
        </mat-form-field>
        <div formGroupName="partnership">
            <mat-form-field appearance="fill">
                <mat-label>Consorcio</mat-label>
                <input type="text" matInput formControlName="name" (click)="openDialogPartnerships()" readonly>
            </mat-form-field>
        </div>
        <div formGroupName="business">
            <mat-form-field appearance="fill">
                <mat-label>Empresa</mat-label>
                <input type="text" matInput formControlName="name" (click)="openDialogBusinesses()" readonly>
            </mat-form-field>
        </div>
        <div class="mb-1"></div>
        <div class="d-flex">
            <span class="spacer"></span>
            <button type="button" mat-stroked-button color="primary" routerLink="/operations">CANCELAR</button>
            <div class="divider"></div>
            <button type="submit" [disabled]="isLoading" mat-raised-button color="primary">GUARDAR</button>
        </div>
    </form>
</section>