<section class="container">
  <div class="d-flex mb-3">
    <!-- <span class="spacer"></span> -->
    <!-- <button type="button" mat-stroked-button routerLink="/banks" color="primary">CANCELAR</button> -->
    <button type="button" [disabled]="isLoading" mat-raised-button color="primary" (click)="fileInput.click()">CARGAR EXCEL</button>
    <span class="divider"></span>
    <button type="button" [disabled]="isLoading" mat-raised-button color="primary" (click)="fileInputPdf.click()">CARGAR ARCHIVOS</button>
    <span class="divider"></span>
    <button type="button" [disabled]="isLoading" mat-raised-button color="primary" (click)="onSubmit()">SUBIR</button>
  </div>
  <input type="file" #fileInput (change)="onFileSelected(fileInput.files, fileInput, tablePaymentOrders)" hidden>
  <input type="file" #fileInputPdf (change)="onFilePdfSelected(fileInputPdf.files, fileInputPdf, tablePaymentOrders)" hidden multiple>
  <div class="mat-elevation-z2">
    <table mat-table #tablePaymentOrders [dataSource]="dataSource" class="w-100">
      <ng-container matColumnDef="index">
        <th mat-header-cell *matHeaderCellDef>Fila</th>
        <td mat-cell *matCellDef="let element; let i = index">{{ i + 1 }}</td>
      </ng-container>
      <ng-container matColumnDef="concept">
        <th mat-header-cell *matHeaderCellDef>Concepto</th>
        <td mat-cell *matCellDef="let element">{{ element.concept }}</td>
      </ng-container>
      <ng-container matColumnDef="charge">
        <th mat-header-cell *matHeaderCellDef>Monto</th>
        <td mat-cell *matCellDef="let element">{{ element.charge.toFixed(2) }}</td>
      </ng-container>
      <ng-container matColumnDef="currencyCode">
        <th mat-header-cell *matHeaderCellDef>Moneda</th>
        <td mat-cell *matCellDef="let element" class="text-uppercase truncate-cell">{{ element.currencyCode }}</td>
      </ng-container>
      <ng-container matColumnDef="paymentAt">
        <th mat-header-cell *matHeaderCellDef>Fecha de pago</th>
        <td mat-cell *matCellDef="let element" class="text-uppercase truncate-cell">{{ element.paymentAt | date: 'short' }}</td>
      </ng-container>
      <ng-container matColumnDef="bank">
        <th mat-header-cell *matHeaderCellDef>Numero de cuenta</th>
        <td mat-cell *matCellDef="let element" class="text-uppercase truncate-cell">{{ element.bank.accountNumber }}</td>
      </ng-container>
      <ng-container matColumnDef="company">
        <th mat-header-cell *matHeaderCellDef>Razon social</th>
        <td mat-cell *matCellDef="let element" class="text-uppercase truncate-cell">{{ element.company.name }}</td>
      </ng-container>
      <ng-container matColumnDef="provider">
        <th mat-header-cell *matHeaderCellDef>Proveedor</th>
        <td mat-cell *matCellDef="let element" class="text-uppercase truncate-cell" [ngClass]="{ 'text-muted': element.provider == null }">{{ element.provider ? element.provider.name : 'NINGUNO' }}</td>
      </ng-container>
      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let element">
          <button mat-icon-button aria-label="Example icon-button with a menu">
            <mat-icon *ngIf="element.file">attach_file</mat-icon>
          </button>
          <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
            <mat-icon>more_vert</mat-icon>
          </button>
          <mat-menu #menu="matMenu" xPosition="before">
            <button (click)="onAddProvider(element)" mat-menu-item>
              <mat-icon>edit</mat-icon>
              <span>Agregar proveedor</span>
            </button>
          </mat-menu>
          <!-- <mat-menu #menu="matMenu" xPosition="before">
            <button [routerLink]="['/banks', element._id, 'details']" mat-menu-item>
              <mat-icon>edit</mat-icon>
              <span>Detalles</span>
            </button>
          </mat-menu> -->
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;" [ngClass]="{ 'bg-success': row.cdr && row.cdr.cod_sunat === '0' && row.deleted === false, 'bg-danger': row.deleted, 'bg-warning': row.warning }"></tr>
    </table>
    <mat-paginator [pageSizeOptions]="pageSizeOptions" [pageSize]="pageSize" [pageIndex]="pageIndex" [length]="length" (page)="handlePageEvent($event)" showFirstLastButtons></mat-paginator>
  </div>
  <div class="fixed-bottom p-3" style="right: 0; left: unset; width: auto;">
    <button mat-fab color="primary" class="float-right" routerLink="/banks/create">
      <mat-icon>add</mat-icon>
    </button>
  </div>
</section>