<section class="container">
  <form [formGroup]="formGroup" autocomplete="off">
    <mat-form-field appearance="fill">
      <mat-label>Seleccione un rango de fechas</mat-label>
      <mat-date-range-input [rangePicker]="picker">
      <input matStartDate placeholder="Desde" formControlName="startDate">
      <input matEndDate placeholder="Hasta" formControlName="endDate" (dateChange)="onRangeChange()">
      </mat-date-range-input>
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-date-range-picker #picker></mat-date-range-picker>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Razon social</mat-label>
      <mat-select formControlName="companyId" (selectionChange)="onCompanyChange()">
        <mat-option value="">TODAS LAS RAZONES SOCIALES</mat-option>
        <mat-option *ngFor="let company of companies" [value]="company._id">{{ company.name }}</mat-option>
      </mat-select>
    </mat-form-field>
  </form>
  <div class="mat-elevation-z2">
    <table mat-table [dataSource]="dataSource" class="w-100">
      <ng-container matColumnDef="provider">
        <th mat-header-cell *matHeaderCellDef>Proveedor</th>
        <td mat-cell *matCellDef="let element" class="text-capitalize truncate-cell">{{ element.provider.name | uppercase }}</td>
      </ng-container>
      <ng-container matColumnDef="company">
        <th mat-header-cell *matHeaderCellDef>Razon social</th>
        <td mat-cell *matCellDef="let element" class="text-capitalize truncate-cell">{{ element.company?.name | uppercase }}</td>
      </ng-container>
      <ng-container matColumnDef="concept">
        <th mat-header-cell *matHeaderCellDef>Concepto</th>
        <td mat-cell *matCellDef="let element" class="text-capitalize truncate-cell">{{ element.concept }}</td>
      </ng-container>
      <ng-container matColumnDef="charge">
        <th mat-header-cell *matHeaderCellDef>Importe</th>
        <td mat-cell *matCellDef="let element">{{ element.charge.toFixed(2) }}</td>
      </ng-container>
      <ng-container matColumnDef="paymentAt">
        <th mat-header-cell *matHeaderCellDef>F. de pago</th>
        <td mat-cell *matCellDef="let element">{{ element.paymentAt | date }}</td>
      </ng-container>
      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let element">
          <button mat-icon-button aria-label="Example icon-button with a menu">
            <mat-icon *ngIf="element.attachments.length">attach_file</mat-icon>
          </button>
          <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
            <mat-icon>more_vert</mat-icon>
          </button>
          <mat-menu #menu="matMenu" xPosition="before">
            <button type="button" [routerLink]="['/paymentOrders', element._id, 'edit']" mat-menu-item>
              <mat-icon>edit</mat-icon>
              <span>Editar</span>
            </button>
            <button type="button" (click)="onShowPdf(element)" mat-menu-item>
              <mat-icon>attach_file</mat-icon>
              <span>Adjuntos</span>
            </button>
            <button type="button" (click)="onDelete(element._id)" mat-menu-item>
              <mat-icon>delete</mat-icon>
              <span>Eliminar</span>
            </button>
          </mat-menu>
        </td>
      </ng-container>
  
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <!-- <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr> -->
      <tr mat-row *matRowDef="let row; columns: displayedColumns;" [ngClass]="{ 'bg-success': row.isPaid }"></tr>
    </table>
    <mat-paginator [pageSizeOptions]="pageSizeOptions" [pageSize]="pageSize" [pageIndex]="pageIndex" [length]="length" (page)="handlePageEvent($event)" showFirstLastButtons></mat-paginator>
  </div>
  <div class="fixed-bottom p-3" style="right: 0; left: unset; width: auto;">
    <button mat-fab color="primary" class="float-right" routerLink="/paymentOrders/create">
      <mat-icon>add</mat-icon>
    </button>
  </div>
</section>