<h2 mat-dialog-title>Detalles de obra</h2>
<div mat-dialog-content>
    <table>
        <tbody>
            <tr>
                <td style="width: 10rem">Ultima act.:</td>
                <td>{{ seaceData.updatedAt | date: 'MMM M, y hh:mm a' }}</td>
            </tr>
            <tr>
                <td style="width: 10rem">Comvocatoria ID:</td>
                <td>{{ seaceData.convocatoriaId }}</td>
            </tr>
            <tr>
                <td style="width: 10rem">F. de adjudicacion:</td>
                <td>{{ seaceData.adjudicadoDate | date }}</td>
            </tr>
            <tr>
                <td style="width: 10rem">F. Publicacion:</td>
                <td>{{ seaceData.publicacionDate | date }}</td>
            </tr>
            <tr>
                <td style="width: 10rem">F. Convocatoria:</td>
                <td>{{ seaceData.convocatoriaDate | date }}</td>
            </tr>
            <tr>
                <td style="width: 10rem">F. Buena pro:</td>
                <td>{{ seaceData.buenaProDate | date }}</td>
            </tr>
            <tr>
                <td style="width: 10rem">E. de gestion:</td>
                <td>{{ seaceData.status }}</td>
            </tr>
            <tr>
                <td style="width: 10rem">Departamento:</td>
                <td>{{ seaceData.departamento }}</td>
            </tr>
            <tr>
                <td style="width: 10rem">Observaciones:</td>
                <td [ngClass]="{ 'text-muted': !seaceData.observations }">{{ seaceData.observations || 'NINGUNO' }}</td>
            </tr>
        </tbody>
    </table>
    <hr>
    <mat-list>
        <mat-list-item class="text-uppercase" *ngFor="let element of seaceData.businesses">
            {{ element }}
        </mat-list-item>
    </mat-list>
    <div class="my-3"></div>
</div>