<section class="container py-4">
  <form (ngSubmit)="onSubmit()" [formGroup]="formGroup" autocomplete="off">
    <h1>Editar Usuario</h1>
    <mat-form-field>
      <input type="text" matInput placeholder="Nombres" formControlName="name">
    </mat-form-field>
    <mat-form-field>
      <input type="email" matInput placeholder="Email" formControlName="email">
    </mat-form-field>
    <mat-form-field>
      <input type="password" matInput placeholder="Contraseña" formControlName="password">
    </mat-form-field>
    <mat-slide-toggle formControlName="allGuaranties">Mostrar todas las fianzas</mat-slide-toggle>
    <div class="mb-1"></div>
    <button type="button" mat-raised-button routerLink="/users">CANCELAR</button>
    <div class="divider"></div>
    <button type="submit" [disabled]="isLoading" mat-raised-button color="primary">GUARDAR</button>
  </form>
</section>