<section class="container">
    <form (ngSubmit)="onSubmit()" [formGroup]="formGroup">
      <mat-card>
        <mat-list role="list">
          <mat-list-item role="listitem" *ngFor="let module of modules">
            <mat-slide-toggle [formControlName]="module.name">
              {{ module.label }}
              <span class="divider"></span>
              <span class="text-muted">
                {{ module.info }} 
              </span>
            </mat-slide-toggle>
          </mat-list-item>
        </mat-list>
      </mat-card>
      <div class="d-flex">
        <span class="spacer"></span>
        <div class="py-3">
          <button type="button" mat-stroked-button routerLink="/users" color="primary">CANCELAR</button>
          <span class="divider"></span>
          <button type="submit" [disabled]="isLoading" mat-raised-button color="primary">GUARDAR</button>
        </div>
      </div>
    </form>
  </section>