<section class="container py-4">
    <form (ngSubmit)="onSubmit()" [formGroup]="formGroup" autocomplete="off">
      <mat-form-field>
        <input type="text" matInput placeholder="Objeto *" formControlName="object">
      </mat-form-field>
      <div formGroupName="business">
        <mat-form-field>
          <mat-label>Empresa *</mat-label>
          <input type="text" matInput formControlName="name" (click)="openDialogBusinesses()" readonly>
        </mat-form-field>
      </div>
      <div class="d-flex">
        <span class="spacer"></span>
        <button type="button" mat-stroked-button color="primary" routerLink="/constructions" class="mr-2">CANCELAR</button>
        <div class="divider"></div>
        <button type="submit" mat-raised-button color="primary">GUARDAR</button>
      </div>
    </form>
  </section>