<section class="container py-4">
  <form (ngSubmit)="onSubmit()" [formGroup]="formGroup" autocomplete="off">
    <mat-form-field>
      <input type="text" matInput placeholder="N° de RUC *" formControlName="document" [maxlength]="maxlength">
    </mat-form-field>
    <mat-form-field>
      <input type="text" matInput placeholder="Razon Social *" formControlName="name">
    </mat-form-field>
    <mat-form-field>
      <input type="email" matInput placeholder="Email" formControlName="email">
    </mat-form-field>
    <mat-form-field>
      <input type="text" matInput placeholder="Celular" maxlength="12" formControlName="mobileNumber">
    </mat-form-field>
    <mat-form-field>
      <input type="text" matInput placeholder="Telefono" maxlength="12" formControlName="phoneNumber">
    </mat-form-field>
    <mat-form-field>
      <input type="text" matInput placeholder="Anexo" formControlName="annexed">
    </mat-form-field>
    <mat-form-field>
      <input type="text" matInput placeholder="Direccion" formControlName="address">
    </mat-form-field>
    <mat-form-field>
      <input type="text" matInput placeholder="Actividad economica" formControlName="economicActivity">
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Representante legal</mat-label>
      <input type="text" matInput formControlName="legalRepresentative">
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Cargo del representante legal</mat-label>
      <input type="text" matInput formControlName="positionLegalRepresentative">
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Persona de contacto</mat-label>
      <input type="text" matInput formControlName="contactPerson">
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Cargo de persona de contacto</mat-label>
      <input type="text" matInput formControlName="positioncontactPerson">
    </mat-form-field>
    <div class="d-flex">
      <span class="spacer"></span>
      <button type="button" mat-stroked-button color="primary" routerLink="/beneficiaries">CANCELAR</button>
      <div class="divider"></div>
      <button type="submit" [disabled]="isLoading" mat-raised-button color="primary">GUARDAR</button>
    </div>
  </form>
</section>