.bg-info 
  background: #4dd4e9 !important

.bg-danger 
  background: #ffcccb !important

.bg-success 
  background: lightgreen !important

.bg-warning
  background: #ffff35 !important

.bg-white
  background: white

.color-black 
  color: black !important