<section class="container py-4">
  <div>
    <button type="button" mat-button color="primary" (click)="onEditConstruction()" class="w-100 p-0">
      <span class="mat-h1 text-wrap">{{ construction ? (construction.object | uppercase) : 'Seleccionar obra' }}</span>
    </button>
    <span>{{ construction?.code }}</span>
    <a mat-icon-button [href]="[ '/constructions/' + construction._id + '/edit' ]" type="button" target="_blank" *ngIf="construction !== null">
      <mat-icon>open_in_new</mat-icon>
    </a>
    <button mat-icon-button type="button" *ngIf="construction !== null" [cdkCopyToClipboard]="construction.object">
        <mat-icon>content_copy</mat-icon>
    </button>
  </div>
  <h3 class="text-center">{{ partnership?.name }}</h3>
  <h4 class="text-center mb-0">{{ customer?.name }}</h4>
  <span class="mat-divider"></span>
  <h4 class="text-center">{{ beneficiary?.name }}</h4>
  <h4 class="text-center text-muted">{{ worker?.name }}</h4>
  <div class="my-3">
    <button type="button" (click)="onAttachPdfInvoice()" [disabled]="isLoading" mat-raised-button color="primary">FACTURA</button>
    <span class="divider"></span>
    <button type="button" (click)="onAttachPdfTicket()" [disabled]="isLoading" mat-raised-button color="primary">VOUCHER</button>
    <span class="divider"></span>
    <button type="button" (click)="onAttachPdfCheques()" [disabled]="isLoading" mat-raised-button color="primary">CHEQUES</button>
    <span class="divider"></span>
    <button type="button" (click)="onAttachPdfDeposits()" [disabled]="isLoading" mat-raised-button color="primary">DEPOSITOS</button>
    <span class="divider"></span>
    <button type="button" (click)="onAttachPdfFianzas()" [disabled]="isLoading" mat-raised-button color="primary">FIANZAS</button>
    <span class="divider"></span>
    <button type="button" (click)="onAttachPdfConstructions()" [disabled]="isLoading" mat-raised-button color="primary">ESTADO DE OBRA</button>
  </div>
  <form (ngSubmit)="onSubmit()" [formGroup]="formGroup" autocomplete="off">
    <!-- <div formGroupName="partnership">
      <mat-form-field>
        <input type="text" matInput placeholder="Consorcio" formControlName="name" (click)="openDialogPartnerships()" readonly>
      </mat-form-field>
    </div>
    <div formGroupName="customer">
      <mat-form-field>
        <input type="text" matInput placeholder="Cliente" formControlName="name" (click)="openopenDialogCustomers()" readonly>
      </mat-form-field>
    </div> -->
    <div formGroupName="financier">
      <mat-form-field>
        <input type="text" matInput placeholder="Financiera" formControlName="name" (click)="openDialogFinanciers()" readonly>
      </mat-form-field>
    </div>
    <!-- <div formGroupName="beneficiary">
      <mat-form-field>
        <input type="text" matInput placeholder="Beneficiario" formControlName="name" (click)="openDialogBeneficiaries()" readonly>
      </mat-form-field>
    </div> -->
    <div formGroupName="compliance">
      <!-- <mat-form-field appearance="fill">
        <mat-label>Estado de tramite</mat-label>
        <mat-select formControlName="processStatusCode">
          <mat-option value="01">REDACCION</mat-option>
          <mat-option value="02">LEGALIZACION</mat-option>
          <mat-option value="03">CONFORMIDAD</mat-option>
          <mat-option value="04">CONSTITUIDO</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Estado de obra</mat-label>
        <mat-select formControlName="constructionCode">
          <mat-option value="01">EJECUCION</mat-option>
          <mat-option value="02">POR TERMINAR</mat-option>
          <mat-option value="03">PARALIZADA</mat-option>
          <mat-option value="04">EN ARBITRAJE</mat-option>
          <mat-option value="05">ANULADA</mat-option>
          <mat-option value="06">FINALIZADA</mat-option>
          <mat-option value="07">AMORTIZADO</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Personal a cargo</mat-label>
        <mat-select formControlName="workerId">
          <mat-option *ngFor="let element of workers" [value]="element._id">{{ element.name | uppercase }}</mat-option>
        </mat-select>
      </mat-form-field> -->
      <mat-form-field>
        <input type="text" matInput placeholder="N° de poliza" formControlName="policyNumber">
      </mat-form-field>
      <mat-form-field>
        <input type="text" matInput placeholder="Objeto *" formControlName="object">
      </mat-form-field>
      <mat-form-field>
        <input type="number" matInput placeholder="Suma asegurada *" formControlName="price">
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Fecha de inicio *</mat-label>
        <input matInput [matDatepicker]="startDatePicker" formControlName="startDate">
        <mat-datepicker-toggle matSuffix [for]="startDatePicker"></mat-datepicker-toggle>
        <mat-datepicker #startDatePicker></mat-datepicker>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Fecha de cumplimiento *</mat-label>
        <input matInput [matDatepicker]="endDatePicker" formControlName="endDate">
        <mat-datepicker-toggle matSuffix [for]="endDatePicker"></mat-datepicker-toggle>
        <mat-datepicker #endDatePicker></mat-datepicker>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Fecha de voucher</mat-label>
        <input matInput [matDatepicker]="voucherDatePicker" formControlName="voucherAt">
        <mat-datepicker-toggle matSuffix [for]="voucherDatePicker"></mat-datepicker-toggle>
        <mat-datepicker #voucherDatePicker></mat-datepicker>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Moneda</mat-label>
        <mat-select formControlName="currency">
          <mat-option value="PEN">PEN</mat-option>
          <mat-option value="USD">USD</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <input type="number" matInput placeholder="Prima" formControlName="prima">
      </mat-form-field>
      <mat-form-field>
        <input type="number" matInput placeholder="Garantia" formControlName="guarantee">
      </mat-form-field>
      <mat-form-field>
        <input type="number" matInput placeholder="Comision" formControlName="commission">
      </mat-form-field>
      <div class="mb-3">
        <mat-slide-toggle formControlName="isEmition">Emision</mat-slide-toggle>
      </div>
      <div class="mb-3">
        <mat-slide-toggle formControlName="isPaid">Pagado</mat-slide-toggle>
      </div>
      <mat-list class="mb-1">
        <div mat-subheader>
          Cheques
          <div class="spacer"></div>
          <button type="button" mat-mini-fab color="primary" (click)="openDialogCheques()">
            <mat-icon>add</mat-icon>
          </button>
        </div>
        <mat-list-item *ngFor="let cheque of cheques; let i = index;" class="my-3 py-3" [ngClass]="{ 'bg-danger': cheque.deletedAt }">
          <table >
            <tbody>
              <tr>
                <td style="width: 70px;">
                  Monto:
                </td>
                <td>
                  {{ cheque.price.toFixed(2) }} - {{ cheque.currency }}
                </td>
              </tr>
              <tr>
                <td>
                  Cobro: 
                </td>
                <td>
                  {{ cheque.paymentAt | date }}
                </td>
              </tr>
              <tr *ngIf="cheque.extensionAt">
                <td>
                  Prorroga:
                </td>
                <td>
                  {{ cheque.extensionAt | date }}
                </td>  
              </tr>
            </tbody>
          </table>
          <div class="spacer"></div>
          <div>
            <button type="button" mat-icon-button (click)="onEditCheque(cheque)">
              <mat-icon>edit</mat-icon>
            </button>
            <button type="button" mat-icon-button (click)="removeCheque(i)">
              <mat-icon>delete</mat-icon>
            </button>
          </div>
        </mat-list-item>
      </mat-list>
      <mat-list class="mb-1">
        <div mat-subheader>
          Depositos
          <div class="spacer"></div>
          <button type="button" mat-mini-fab color="primary" (click)="openDialogDeposits()">
            <mat-icon>add</mat-icon>
          </button>
        </div>
        <mat-list-item *ngFor="let deposit of deposits; let i = index;">
          <mat-icon mat-list-icon>monetization_on</mat-icon>
          <div mat-line>{{ deposit.price.toFixed(2) }} {{ deposit.currency }}</div>
          <div class="spancer"></div>
          <div>
            <button type="button" mat-icon-button (click)="onEditDeposit(deposit)">
              <mat-icon>edit</mat-icon>
            </button>
            <button type="button" mat-icon-button (click)="removeDeposit(i)">
              <mat-icon>delete</mat-icon>
            </button>
          </div>
        </mat-list-item>
        <mat-divider></mat-divider>
      </mat-list>
    </div>
    <div class="mt-3 d-flex">
      <span class="spacer"></span>
      <button type="button" mat-stroked-button color="primary" routerLink="/compliances">CANCELAR</button>
      <div class="divider"></div>
      <button type="submit" [disabled]="isLoading" mat-raised-button color="primary">GUARDAR</button>
    </div>
  </form>
</section>