<h2 mat-dialog-title>Notificaciones</h2>
<mat-dialog-content>
  <div *ngFor="let notification of notifications; let i = index">
    <h3 class="mb-0 d-flex">
      {{ notification.title }}
      <span class="spacer"></span>
      <span class="text-muted">
        <small>
          {{ notification.createdAt | date: 'dd/MM/yyyy' }}
        </small>
      </span>
      <button mat-icon-button (click)="onDisableNotification(notification._id, i)">
        <mat-icon>delete</mat-icon>
      </button>
    </h3>
    <p class="text-muted">{{ notification.message }}</p>
  </div>
  <!-- <mat-list>
  </mat-list> -->
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>VOLVER</button>
</mat-dialog-actions>