<section class="container py-4">
  <form (ngSubmit)="onSubmit()" [formGroup]="formGroup" autocomplete="off">
    <h1>Accionista</h1>
        <mat-form-field appearance="fill">
          <mat-label>Tipo de Documento</mat-label>
          <mat-select formControlName="documentType">
            <mat-option value="RUC">RUC</mat-option>
            <mat-option value="DNI">DNI</mat-option>
            <mat-option value="CE">CE</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>N° de Documento</mat-label>
          <input
            type="text"
            matInput
            formControlName="document"
            [maxlength]="maxlength"
          />
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Nombres/Razon Social</mat-label>
          <input type="text" matInput formControlName="name" />
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Email</mat-label>
          <input type="email" matInput formControlName="email" />
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Nacionalidad</mat-label>
          <input type="text" matInput formControlName="nationality" />
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>País de Origen</mat-label>
          <input type="text" matInput formControlName="countryOrigin">
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Direccion de Residencia</mat-label>
          <input type="text" matInput formControlName="addressResidence" />
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>País de Residencia</mat-label>
          <input type="text" matInput formControlName="countryResidence" />
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Distrito de Residencia</mat-label>
          <input type="text" matInput formControlName="districtResidence" />
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Provincia de Residencia</mat-label>
          <input type="text" matInput formControlName="provinceResidence" />
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Departamento de Residencia</mat-label>
          <input type="text" matInput formControlName="departmentResidence" />
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Profesión / Ocupación</mat-label>
          <input type="text" matInput formControlName="professionOccupation">
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Cargo</mat-label>
          <input type="text" matInput formControlName="position">
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Estado civil</mat-label>
          <mat-select formControlName="maritalStatus">
            <mat-option value="Soltero(a)">Soltero(a)</mat-option>
            <mat-option value="Casado(a)">Casado(a)</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Fecha de nacimiento</mat-label>
          <input
            matInput
            [matDatepicker]="birthDatePicker"
            formControlName="birthDate"
          />
          <mat-datepicker-toggle
            matSuffix
            [for]="birthDatePicker"
          ></mat-datepicker-toggle>
          <mat-datepicker #birthDatePicker></mat-datepicker>
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Porcentaje</mat-label>
          <input type="number" matInput formControlName="percent" />
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Celular</mat-label>
          <input type="text" matInput formControlName="mobileNumber" />
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Telefono</mat-label>
          <input type="text" matInput formControlName="phoneNumber" />
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Anexo</mat-label>
          <input type="text" matInput formControlName="annexed" />
        </mat-form-field>
        <div class="mb-3">
          <mat-slide-toggle [(ngModel)]="isCheckedPEP" [ngModelOptions]="{standalone: true}">PEP</mat-slide-toggle>
        </div>
        <mat-form-field appearance="fill" *ngIf="isCheckedPEP">
          <mat-label>Institución</mat-label>
          <input type="text" matInput formControlName="PEPInstitution">
        </mat-form-field>
        <mat-form-field appearance="fill" *ngIf="isCheckedPEP">
          <mat-label>Cargo</mat-label>
          <input type="text" matInput formControlName="PEPPositionn">
        </mat-form-field>
        <div class="mb-3">
          <mat-slide-toggle [(ngModel)]="isCheckedPC" [ngModelOptions]="{standalone: true}">Ha trabajado en Empresas del Sector Público?</mat-slide-toggle>
        </div>
        <div class="mb-3" *ngIf="isCheckedPC">
          <mat-slide-toggle formControlName="publicCompaniesCurrently">Desempeña alguna Función Pública actualmente?</mat-slide-toggle>
        </div>
        <div class="mb-3" *ngIf="isCheckedPC">
          <mat-slide-toggle formControlName="publicCompaniesLast5year">Ha desempeñado alguna Función Pública en los últimos cinco años ?</mat-slide-toggle>
        </div>
        <mat-form-field appearance="fill" *ngIf="isCheckedPC">
          <mat-label>Empresa en la que ejerce o ejerció la función Pública </mat-label>
          <input type="text" matInput formControlName="publicCompaniesInstitute">
        </mat-form-field>
        <mat-form-field appearance="fill" *ngIf="isCheckedPC">
          <mat-label>Cargo que ejerce o ejerció</mat-label>
          <input type="text" matInput formControlName="publicCompaniesPosition">
        </mat-form-field>
        <mat-form-field appearance="fill" *ngIf="isCheckedPC">
          <mat-label>Tiempo de Servicios </mat-label>
          <input type="text" matInput formControlName="publicCompaniesTime">
        </mat-form-field>

        <hr><br>
    <h1>Conyuge</h1>
        <mat-form-field appearance="fill">
          <mat-label>Tipo de Documento</mat-label>
          <mat-select formControlName="documentTypeSpouse">
            <mat-option value="RUC">RUC</mat-option>
            <mat-option value="DNI">DNI</mat-option>
            <mat-option value="CE">CE</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>N° de Documento</mat-label>
          <input
            type="text"
            matInput
            formControlName="documentSpouse"
            [maxlength]="maxlength"
          />
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Nombres/Razon Social</mat-label>
          <input type="text" matInput formControlName="nameSpouse" />
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Nacionalidad</mat-label>
          <input type="text" matInput formControlName="nationalitySpouse" />
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Estado civil</mat-label>
          <mat-select formControlName="maritalStatusSpouse">
            <mat-option value="Soltero(a)">Soltero(a)</mat-option>
            <mat-option value="Casado(a)">Casado(a)</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Fecha de nacimiento</mat-label>
          <input
            matInput
            [matDatepicker]="birthDatePickerSpouse"
            formControlName="birthDateSpouse"
          />
          <mat-datepicker-toggle
            matSuffix
            [for]="birthDatePickerSpouse"
          ></mat-datepicker-toggle>
          <mat-datepicker #birthDatePickerSpouse></mat-datepicker>
        </mat-form-field>
    <mat-list class="mb-3">
      <div mat-subheader>Bienes inmubles</div>
      <mat-list-item *ngFor="let property of properties; let i = index">
        <div>
          {{ property.location | uppercase }}
          <br />
          <span class="text-muted">
            {{ property.inscription }}
          </span>
        </div>
        <span class="spacer"></span>
        <button type="button" mat-icon-button (click)="onRemoveProperty(i)">
          <mat-icon>delete</mat-icon>
        </button>
      </mat-list-item>
    </mat-list>
    <button
      type="button"
      mat-raised-button
      color="primary"
      class="w-100 mb-3"
      [disabled]="isLoading"
      (click)="onDialogProperties()"
    >
      AGREGAR INMUEBLE
    </button>
    <mat-list class="mb-3">
      <div mat-subheader>Bienes mubles</div>
      <mat-list-item
        *ngFor="let movableProperty of movableProperties; let i = index"
      >
        <div>
          {{ movableProperty.description | uppercase }}
          <br />
          <span class="text-muted">
            {{ movableProperty.placa }}
          </span>
        </div>
        <span class="spacer"></span>
        <button
          type="button"
          mat-icon-button
          (click)="onRemoveMovableProperty(i)"
        >
          <mat-icon>delete</mat-icon>
        </button>
      </mat-list-item>
    </mat-list>
    <button
      type="button"
      mat-raised-button
      color="primary"
      class="w-100 mb-3"
      [disabled]="isLoading"
      (click)="onDialogMovableProperties()"
    >
      AGREGAR MUEBLE
    </button>
    <mat-list class="mb-3">
      <div mat-subheader>Ingresos</div>
      <mat-list-item *ngFor="let income of incomes; let i = index">
        <div>
          {{ income.typeIncome }} / {{ income.description }}
          <br />
          <span class="text-muted">
            {{ income.amount.toFixed(2) }}
          </span>
        </div>
        <span class="spacer"></span>
        <button type="button" mat-icon-button (click)="onRemoveIncome(i)">
          <mat-icon>delete</mat-icon>
        </button>
      </mat-list-item>
    </mat-list>
    <button
      type="button"
      mat-raised-button
      color="primary"
      class="w-100 mb-3"
      [disabled]="isLoading"
      (click)="onDialogIncomes()"
    >
      AGREGAR INGRESO
    </button>
    <mat-list class="mb-3">
      <div mat-subheader>Inversiones</div>
      <mat-list-item *ngFor="let investment of investments; let i = index">
        <div>
          {{ investment.typeAccount }}
          <br>
          <span class="text-muted">
            {{ investment.comercialPrice.toFixed(2) }}
          </span>
        </div>
        <span class="spacer"></span>
        <button type="button" mat-icon-button (click)="onRemoveInvestment(i)">
          <mat-icon>delete</mat-icon>
        </button>
      </mat-list-item>
    </mat-list>
    <button type="button" mat-raised-button color="primary" class="w-100 mb-3" [disabled]="isLoading" (click)="onDialogInvestments()">AGREGAR INVERSION</button>
    <div class="d-flex">
      <span class="spacer"></span>
      <button
        type="button"
        mat-stroked-button
        color="primary"
        routerLink="/shareholders"
      >
        CANCELAR
      </button>
      <div class="divider"></div>
      <button
        type="submit"
        [disabled]="isLoading"
        mat-raised-button
        color="primary"
      >
        GUARDAR
      </button>
    </div>
  </form>
</section>
