<form (ngSubmit)="onSubmit()" [formGroup]="formGroup" autocomplete="off" class="fixActionRow">
  <h2 mat-dialog-title *ngIf="deposit; else elseBlock">Editar deposito</h2>
  <ng-template #elseBlock>
    <h2 mat-dialog-title>Agregar deposito</h2>
  </ng-template>
  <div mat-dialog-content>
    <mat-form-field>
      <input type="number" matInput placeholder="Suma asegurada *" formControlName="price">
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Moneda</mat-label>
      <mat-select formControlName="currency">
        <mat-option value="PEN">PEN</mat-option>
        <mat-option value="USD">USD</mat-option>
      </mat-select>
    </mat-form-field>
    <!-- <mat-form-field appearance="fill">
      <mat-label>Fecha de cobro *</mat-label>
      <input matInput [matDatepicker]="endDatePicker" formControlName="endDate">
      <mat-datepicker-toggle matSuffix [for]="endDatePicker"></mat-datepicker-toggle>
      <mat-datepicker #endDatePicker></mat-datepicker>
    </mat-form-field> -->
  </div>
  <div class="spacer"></div>
  <mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>CANCELAR</button>
    <button type="submit" mat-raised-button color="primary">GUARDAR</button>
  </mat-dialog-actions>
</form>