<mat-list role="list">
  <mat-list-item role="listitem" *ngFor="let element of devices">
    {{ element.name }} ({{ element.deviceId.slice(30) }})
    <span class="spacer"></span>
    <button (click)="onDelete(element._id)" *ngIf="element.isActive; else elseBlock" mat-raised-button color="warn">
      ELIMINAR
    </button>
    <ng-template #elseBlock>
      <button (click)="onUpdate(element._id)" mat-raised-button color="primary">
        PERMITIR
      </button>
    </ng-template>
  </mat-list-item>
</mat-list>
<!-- <mat-dialog-actions>
  <span class="spacer"></span>
  <button mat-stroked-button mat-dialog-close color="primary">VOLVER</button>
</mat-dialog-actions> -->