<section class="container py-4">
    <div class="d-flex">
        <a mat-icon-button [href]="[ '/constructions/' + construction._id + '/edit' ]" type="button" target="_blank"
            *ngIf="construction !== null">
            <mat-icon>open_in_new</mat-icon>
        </a>
        <button mat-icon-button type="button" *ngIf="construction !== null" [cdkCopyToClipboard]="construction.object">
            <mat-icon>content_copy</mat-icon>
        </button>
        <div>
            <button type="button" mat-button color="primary" (click)="onEditConstruction()" class="w-100 p-0">
                <span class="mat-h1">{{ construction ? (construction.object | uppercase) : 'Seleccionar obra' }}</span>
            </button>
            <span>{{ construction?.code }}</span>
        </div>
    </div>
    <h3 class="text-center">{{ partnership?.name }}</h3>
    <h4 class="text-center mb-0">{{ business?.name }}</h4>
    <span class="mat-divider"></span>
    <h4 class="text-center">{{ beneficiary?.name || 'SIN BENEFICIARIO' }}</h4>
    <h4 class="text-center text-muted">{{ worker?.name }}</h4>
    <form (ngSubmit)="onSubmit()" [formGroup]="formGroup" autocomplete="off">
        <div formGroupName="financier">
            <mat-form-field appearance="fill">
                <mat-label>Financiera</mat-label>
                <input type="text" matInput formControlName="name" (click)="openDialogFinanciers()" readonly>
            </mat-form-field>
        </div>
        <div formGroupName="broker">
            <mat-form-field appearance="fill">
                <mat-label>Broker</mat-label>
                <input type="text" matInput formControlName="name" (click)="openDialogBrokers()" readonly>
            </mat-form-field>
        </div>
        <div formGroupName="material">
            <mat-form-field appearance="fill">
                <mat-label>N° de poliza</mat-label>
                <input type="text" matInput formControlName="policyNumber">
            </mat-form-field>
            <mat-form-field appearance="fill">
                <mat-label>Garantia</mat-label>
                <input type="number" matInput formControlName="guarantee">
            </mat-form-field>
            <mat-form-field appearance="fill">
                <mat-label>Suma asegurada</mat-label>
                <input type="number" matInput formControlName="price">
            </mat-form-field>
            <mat-form-field appearance="fill">
                <mat-label>Pagare</mat-label>
                <input type="number" matInput formControlName="pagare">
            </mat-form-field>
            <mat-form-field appearance="fill">
                <mat-label>Prima</mat-label>
                <input type="number" matInput formControlName="prima">
            </mat-form-field>
            <mat-form-field appearance="fill">
                <mat-label>Comision</mat-label>
                <input type="number" matInput formControlName="commission">
            </mat-form-field>
            <mat-form-field appearance="fill">
                <mat-label>Moneda</mat-label>
                <mat-select formControlName="currencyCode">
                    <mat-option value="PEN">PEN</mat-option>
                    <mat-option value="USD">USD</mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field appearance="fill">
                <mat-label>Observaciones</mat-label>
                <input type="text" matInput formControlName="observations">
            </mat-form-field>
            <mat-form-field appearance="fill">
                <mat-label>Fecha de inicio</mat-label>
                <input matInput [matDatepicker]="startDatePicker" formControlName="startDate">
                <mat-datepicker-toggle matSuffix [for]="startDatePicker"></mat-datepicker-toggle>
                <mat-datepicker #startDatePicker></mat-datepicker>
            </mat-form-field>
            <mat-form-field appearance="fill">
                <mat-label>Fecha de cumplimiento</mat-label>
                <input matInput [matDatepicker]="endDatePicker" formControlName="endDate">
                <mat-datepicker-toggle matSuffix [for]="endDatePicker"></mat-datepicker-toggle>
                <mat-datepicker #endDatePicker></mat-datepicker>
            </mat-form-field>
            <mat-form-field appearance="fill">
                <mat-label>Razon social</mat-label>
                <mat-select formControlName="companyId">
                    <mat-option *ngFor="let company of companies" [value]="company._id">{{ company.name }}</mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field appearance="fill">
                <mat-label>Cuenta de la empresa</mat-label>
                <mat-select formControlName="bankId">
                    <mat-option *ngFor="let element of banks" [value]="element._id">{{ element.providerName }} - {{
                        element.bankName }} {{ element.accountNumber }}</mat-option>
                </mat-select>
            </mat-form-field>
            <mat-list class="mb-1">
                <div mat-subheader>Cheques</div>
                <mat-list-item *ngFor="let cheque of cheques; let i = index;">
                    <mat-icon mat-list-icon>monetization_on</mat-icon>
                    <div mat-line>{{ cheque.price.toFixed(2) }} {{ cheque.currencyCode }}</div>
                    <div mat-line>{{ cheque.paymentAt | date }}</div>
                    <div mat-line>{{ cheque.paymentType }}</div>
                    <div class="spancer"></div>
                    <button type="button" mat-icon-button (click)="removeCheque(i)">
                        <mat-icon>delete</mat-icon>
                    </button>
                </mat-list-item>
            </mat-list>
            <button type="button" [disabled]="isLoading" mat-raised-button color="primary" class="w-100"
                (click)="openDialogCheques()">AGREGAR CHEQUE</button>
            <mat-list class="mb-1">
                <div mat-subheader>Depositos</div>
                <mat-list-item *ngFor="let deposit of deposits; let i = index;">
                    <mat-icon mat-list-icon>monetization_on</mat-icon>
                    <div mat-line>{{ deposit.price.toFixed(2) }} {{ deposit.currencyCode }}</div>
                    <div class="spancer"></div>
                    <button type="button" mat-icon-button (click)="removeDeposit(i)">
                        <mat-icon>delete</mat-icon>
                    </button>
                </mat-list-item>
            </mat-list>
            <button type="button" [disabled]="isLoading" mat-raised-button color="primary" class="w-100"
                (click)="openDialogDeposits()">AGREGAR DEPOSITO</button>
        </div>
        <div class="mt-3 d-flex">
            <span class="spacer"></span>
            <button type="button" mat-stroked-button color="primary" routerLink="/directs">CANCELAR</button>
            <div class="divider"></div>
            <button type="submit" [disabled]="isLoading" mat-raised-button color="primary">GUARDAR</button>
        </div>
    </form>
</section>