<h2 mat-dialog-title>Documentacion</h2>
<div mat-dialog-content>
  <a [href]="[ baseUrl + 'templates/basicConfidentialInformation/' + template._id ]" mat-raised-button color="primary" class="w-100 mb-3">INFORMACION CONFIDENCIAL BASICA</a>
  <a [href]="[ baseUrl + 'templates/suretyInsuranceSolution/' + template._id ]" mat-raised-button color="primary" class="w-100 mb-3">SOLICITUD DE SEGURO DE CAUCION</a>
  <a [href]="[ baseUrl + 'templates/affidavidOfAssets/' + template.businessId ]" mat-raised-button color="primary" class="w-100 mb-3">DECLARACION JURADA DE BIENES</a>
  <a [href]="[ baseUrl + 'templates/affidavitOfOriginOfFunds/' + template._id ]" mat-raised-button color="primary" class="w-100 mb-3">DECLARACION JURADA DE ORIGEN DE FONDOS</a>
  <a [href]="[ baseUrl + 'templates/specificExperienceOfEachConsorciate/' + template._id ]" mat-raised-button color="primary" class="w-100 mb-3">RELACION DE OBRAS EN EJECUCION A LA FECHA</a>
  <a [href]="[ baseUrl + 'templates/patrimonialRelationshipOfNaturalPerson/' + template._id ]" mat-raised-button color="primary" class="w-100 mb-3">RELACION PATRIMONIAL DE  PERSONA NATURAL</a>
  <a [href]="[ baseUrl + 'templates/consortiunConsolidatedInformation/' + template.partnershipId ]" *ngIf="template.partnershipId; else elseBlock" mat-raised-button color="primary" class="w-100 mb-3">INFORMACION CONSOLIDADA CONSORCIO</a>
  <ng-template #elseBlock>
    <button mat-raised-button disabled color="primary" class="w-100 mb-3">
      INFORMACION CONSOLIDADA CONSORCIO
    </button>
  </ng-template>
  <a [href]="[ baseUrl + 'templates/specificExperienceOfEachConsorciateCompleted/' + template._id ]" *ngIf="template.partnershipId; else elseBlock2" mat-raised-button color="primary" class="w-100 mb-3">EXPERIENCIA ESPECIFICA DE CADA CONSORCIADO EN OBRAS</a>
  <ng-template #elseBlock2>
    <button mat-raised-button disabled color="primary" class="w-100 mb-3">
      EXPERIENCIA ESPECIFICA DE CADA CONSORCIADO EN OBRAS
    </button>
  </ng-template>

  <!-- Formatos avla -->
  <hr><b>AVLA</b><hr>
  <a [href]="[ baseUrl + 'templatesAvla/solicitudDeEmision/' + template._id ]" mat-raised-button color="primary" class="w-100 mb-3">C1 SOLICITUD DE EMISIÓN OBRAS</a>
  <!-- Formatos crecer -->
  <hr><b>CRECER</b><hr>
  <a [href]="[ baseUrl + 'templatesCrecer/basicInformation/' + template._id ]" mat-raised-button color="primary" class="w-100 mb-3">INFORMACIÓN BASICA</a>
  <a [href]="[ baseUrl + 'templatesCrecer/swornDeclarationOfOriginOfFunds/' + template._id ]" mat-raised-button color="primary" class="w-100 mb-3">DECLARACION JURADA DE ORIGEN DE FONDOS PERSONA JURIDICA</a>
  <a [href]="[ baseUrl + 'templatesCrecer/swornAssetsDeclaration/' + template._id ]" mat-raised-button color="primary" class="w-100 mb-3">DECLARACIÓN JURADA PATRIMONIAL</a>
  <a [href]="[ baseUrl + 'templatesCrecer/dueDiligenceForm/' + template._id ]" mat-raised-button color="primary" class="w-100 mb-3">FORMULARIO DE DEBIDA DILIGENCIA</a>
  <a [href]="[ baseUrl + 'templatesCrecer/experienceOfEachConsortiateInWorks/' + template._id ]" mat-raised-button color="primary" class="w-100 mb-3">EXPERIENCIA DE CADA CONSORCIADO EN OBRAS</a>
  <a [href]="[ baseUrl + 'templatesCrecer/tableOfCurrentDepositsOfEachConsortiate/' + template._id ]" mat-raised-button color="primary" class="w-100 mb-3">CUADRO DE FIANZAS VIGENTES DE CADA CONSORCIADO</a>
  <a [href]="[ baseUrl + 'templatesCrecer/IssueRequest/' + template._id ]" mat-raised-button color="primary" class="w-100 mb-3">SOLICITUD DE EMISIÓN</a>
</div>

<mat-dialog-actions>
  <span class="spacer"></span>
  <button mat-button mat-dialog-close>CANCELAR</button>
</mat-dialog-actions>