<section class="container">
    <form [formGroup]="formGroup" autocomplete="off">
      <mat-form-field appearance="fill">
        <mat-label>Oficina</mat-label>
        <mat-select formControlName="officeId" (selectionChange)="onChangeOffice()">
          <mat-option value="">TODAS LAS OFICINAS</mat-option>
          <mat-option *ngFor="let element of offices" [value]="element._id">{{ element.name | uppercase }}</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="standard">
          <mat-label>Seleccione un rango de fechas</mat-label>
          <mat-date-range-input [rangePicker]="picker">
              <input matStartDate placeholder="Desde" formControlName="startDate">
              <input matEndDate placeholder="Hasta" formControlName="endDate" (dateChange)="onRangeChange()">
          </mat-date-range-input>
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-date-range-picker #picker></mat-date-range-picker>
      </mat-form-field>
    </form>
    <div class="mat-elevation-z2">
      <table mat-table [dataSource]="dataSource" class="w-100">
        <ng-container matColumnDef="emitionAt">
            <th mat-header-cell *matHeaderCellDef>F. Emision</th>
            <td mat-cell *matCellDef="let element" class="truncate-cell">{{ element.emitionAt | date }}</td>
        </ng-container>
        <ng-container matColumnDef="code">
            <th mat-header-cell *matHeaderCellDef>Codigo</th>
            <td mat-cell *matCellDef="let element" class="truncate-cell">{{ element.code }}</td>
        </ng-container>
        <ng-container matColumnDef="object">
          <th mat-header-cell *matHeaderCellDef>Objeto</th>
          <td mat-cell *matCellDef="let element" class="text-capitalize truncate-cell">{{ element.object }}</td>
        </ng-container>
        <ng-container matColumnDef="worker">
          <th mat-header-cell *matHeaderCellDef>Personal</th>
          <td mat-cell *matCellDef="let element" class="text-capitalize truncate-cell">{{ element.worker ? element.worker?.name : 'NINGUNO' }}</td>
        </ng-container>
        <ng-container matColumnDef="office">
            <th mat-header-cell *matHeaderCellDef>Oficina</th>
            <td mat-cell *matCellDef="let element" class="text-uppercase">{{ element.office?.name }}</td>
          </ng-container>
        <ng-container matColumnDef="customer">
          <th mat-header-cell *matHeaderCellDef>Cliente</th>
          <td mat-cell *matCellDef="let element" class="text-capitalize truncate-cell">{{ element.customer ? element.customer?.name : 'NINGUNO' }}</td>
        </ng-container>
        <ng-container matColumnDef="partnership">
          <th mat-header-cell *matHeaderCellDef>Consorcio</th>
          <td mat-cell *matCellDef="let element" class="text-capitalize truncate-cell">{{ element.partnership ? element.partnership?.name : 'NINGUNO' }}</td>
        </ng-container>
        <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef></th>
          <td mat-cell *matCellDef="let element;">
            <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu" xPosition="before">
              <button type="button" (click)="onAddBail(element._id)" mat-menu-item>
                <mat-icon>add</mat-icon>
                <span>Agregar renovacion</span>
              </button>
              <button type="button" (click)="onShowDetails(element._id)" mat-menu-item>
                <mat-icon>info</mat-icon>
                <span>Detalles</span>
              </button>
              <a [routerLink]="['/constructions', element._id, 'edit']" mat-menu-item>
                <mat-icon>edit</mat-icon>
                <span>Editar</span>
              </a>
              <button type="button" (click)="onDelete(element._id)" mat-menu-item>
                <mat-icon>delete</mat-icon>
                <span>Eliminar</span>
              </button>
            </mat-menu>
          </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns; let i = index" [ngClass]="{ 'bg-danger': row.constructionCode === '06' }"></tr>
      </table>
      <mat-paginator [pageSizeOptions]="pageSizeOptions" [pageSize]="pageSize" [pageIndex]="pageIndex" [length]="length" (page)="handlePageEvent($event)" showFirstLastButtons></mat-paginator>
    </div>
    <div class="fixed-bottom p-3" style="right: 0; left: unset; width: auto;">
      <button mat-fab color="primary" class="float-right" routerLink="/constructions/create">
        <mat-icon>add</mat-icon>
      </button>
    </div>
  </section>