<section class="container py-4">
  <div class="mat-elevation-z2">
    <table mat-table [dataSource]="dataSource" class="w-100">
      <ng-container matColumnDef="capital">
        <th mat-header-cell *matHeaderCellDef>Capital</th>
        <td mat-cell *matCellDef="let element" class="truncate-cell">{{ element.capital.toFixed(2) }}</td>
      </ng-container>
      <ng-container matColumnDef="customer">
        <th mat-header-cell *matHeaderCellDef>Cliente</th>
        <td mat-cell *matCellDef="let element" class="truncate-cell">{{ element.customer.name | uppercase }}</td>
      </ng-container>
      <ng-container matColumnDef="worker">
        <th mat-header-cell *matHeaderCellDef>Personal</th>
        <td mat-cell *matCellDef="let element" class="truncate-cell">{{ element.worker.name | uppercase }}</td>
      </ng-container>
      <ng-container matColumnDef="emitionAt">
        <th mat-header-cell *matHeaderCellDef>Fecha de emision</th>
        <td mat-cell *matCellDef="let element">{{ element.emitionAt | date }}</td>
      </ng-container>
      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let element">
          <button type="button" *ngIf="element.isEmition" mat-icon-button>
            <mat-icon>looks_one</mat-icon>
          </button>
          <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
            <mat-icon>more_vert</mat-icon>
          </button>
          <mat-menu #menu="matMenu" xPosition="before">
            <button [routerLink]="['/capitalIncreases', element._id, 'edit']" mat-menu-item>
              <mat-icon>edit</mat-icon>
              <span>Editar</span>
            </button>
            <button type="button" (click)="onDelete(element._id)" mat-menu-item>
              <mat-icon>delete</mat-icon>
              <span>Eliminar</span>
            </button>
          </mat-menu>
        </td>
      </ng-container>
  
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;" [ngClass]="{ 'bg-success': row.status === '02', 'bg-warning': row.status === '03', 'bg-danger': row.status === '04' }"></tr>
    </table>
  
    <mat-paginator [pageSizeOptions]="pageSizeOptions" [pageSize]="pageSize" [pageIndex]="pageIndex" [length]="length" (page)="handlePageEvent($event)" showFirstLastButtons></mat-paginator>
  </div>
  <div class="fixed-bottom p-3" style="right: 0; left: unset; width: auto;">
    <button mat-fab color="primary" class="float-right" [routerLink]="[ '/capitalIncreases', 'create' ]">
      <mat-icon>add</mat-icon>
    </button>
  </div>
</section>