<section class="container">
  <form (ngSubmit)="onSubmit()" [formGroup]="formGroup" autocomplete="off">
    <mat-form-field appearance="fill">
      <mat-label>Titular de la cuenta</mat-label>
      <input type="text" matInput formControlName="providerName">
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Banco</mat-label>
      <mat-select formControlName="bankName">
        <mat-option value="BCP">BCP</mat-option>
        <mat-option value="BBVA">BBVA</mat-option>
        <mat-option value="INTERBANK">INTERBANK</mat-option>
        <mat-option value="SCOTIABANK">SCOTIABANK</mat-option>
        <mat-option value="BANCO DE LA NACION">BANCO DE LA NACION</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>N° de cuenta</mat-label>
      <input type="text" matInput formControlName="accountNumber">
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Tipo de cuenta</mat-label>
      <mat-select formControlName="accountType">
        <mat-option value="CORRIENTE">CORRIENTE</mat-option>
        <mat-option value="AHORROS">AHORROS</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Moneda</mat-label>
      <mat-select formControlName="currencyCode">
        <mat-option value="PEN">SOLES</mat-option>
        <mat-option value="USD">DOLARES</mat-option>
      </mat-select>
    </mat-form-field>
    <div class="d-flex">
      <span class="spacer"></span>
      <button type="button" mat-stroked-button routerLink="/banks" color="primary">CANCELAR</button>
      <span class="divider"></span>
      <button type="submit" [disabled]="isLoading" mat-raised-button color="primary">GUARDAR</button>
    </div>
  </form>
</section>