<section class="container">
  <form (ngSubmit)="onSubmit()" [formGroup]="formGroup" autocomplete="off">
    <mat-form-field appearance="standard">
      <mat-label>Titular de la cuenta</mat-label>
      <input type="text" matInput formControlName="providerName">
    </mat-form-field>
    <mat-form-field appearance="standard">
      <mat-label>Banco *</mat-label>
      <mat-select formControlName="bankName">
        <mat-option value="BCP">BCP</mat-option>
        <mat-option value="BBVA">BBVA</mat-option>
        <mat-option value="INTERBANK">INTERBANK</mat-option>
        <mat-option value="SCOTIABANK">SCOTIABANK</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <input type="text" matInput placeholder="N° de cuenta" formControlName="accountNumber">
    </mat-form-field>
    <div class="d-flex">
      <span class="spacer"></span>
      <button type="button" mat-stroked-button routerLink="/banks" color="primary">CANCELAR</button>
      <span class="divider"></span>
      <button type="submit" [disabled]="isLoading" mat-raised-button color="primary">GUARDAR</button>
    </div>
  </form>
</section>