<section class="container py-4">
  <form (ngSubmit)="onSubmit()" [formGroup]="formGroup" autocomplete="off">
    <mat-form-field appearance="fill">
      <mat-label>Nombres</mat-label>
      <input type="text" matInput formControlName="name">
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Email</mat-label>
      <input type="email" matInput formControlName="email">
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Contraseña</mat-label>
      <input [type]="hide ? 'password' : 'text'" matInput formControlName="password">
      <button type="button" mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
        <mat-icon>{{ hide ? 'visibility_off' : 'visibility' }}</mat-icon>
      </button>
    </mat-form-field>
    <mat-form-field appearance="fill" floatLabel="always">
      <mat-label>Sucursal</mat-label>
      <mat-select formControlName="assignedOfficeId" placeholder="ACCESO A TODAS LAS SUCURSALES" class="text-uppercase">
        <mat-option>ACCESO A TODAS LAS SUCURSALES</mat-option>
        <mat-option *ngFor="let office of offices" [value]="office._id">{{ office.name | uppercase }}</mat-option>
      </mat-select>
    </mat-form-field>
    <div class="mb-1"></div>
    <div class="d-flex">
      <span class="spacer"></span>
      <button type="button" mat-stroked-button color="primary" routerLink="/users">CANCELAR</button>
      <div class="divider"></div>
      <button type="submit" [disabled]="isLoading" mat-raised-button color="primary">GUARDAR</button>
    </div>
  </form>
</section>