<mat-tab-group [selectedIndex]="tabIndex" (selectedIndexChange)="tabIndex = $event" style="overflow: hidden;">
  <mat-tab label="Documentos">
    <mat-tree [dataSource]="dataSource" [treeControl]="treeControl">
      <mat-tree-node *matTreeNodeDef="let node" matTreeNodePadding>
        <button mat-icon-button disabled></button>
        <!-- {{ node.name }} -->
        <button mat-raised-button (click)="onSelectFile(node)" color="primary">{{ node.name }}</button>
        <button mat-icon-button (click)="onDeleteNode(node)" class="text-muted">
          <mat-icon>delete</mat-icon>
        </button>
      </mat-tree-node>
      <mat-tree-node *matTreeNodeDef="let node; when: hasChild" matTreeNodePadding>
        <button mat-icon-button [attr.aria-label]="'Toggle ' + node.name" matTreeNodeToggle>
          <mat-icon class="mat-icon-rtl-mirror">
            {{ treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right' }}
          </mat-icon>
        </button>
        {{ node.name | uppercase }}
        <mat-progress-bar *ngIf="node.isLoading" mode="indeterminate" class="example-tree-progress-bar"></mat-progress-bar>
        <button mat-icon-button (click)="onCreateNode(node)" class="text-muted">
          <mat-icon>add</mat-icon>
        </button>
        <button mat-icon-button (click)="onUpdateNode(node)" class="text-muted">
          <mat-icon>edit</mat-icon>
        </button>
        <button mat-icon-button (click)="onDeleteNode(node)" class="text-muted">
          <mat-icon>delete</mat-icon>
        </button>
        <button mat-icon-button (click)="fileInput.click()" class="text-muted">
          <mat-icon>attach_file</mat-icon>
        </button>
        <input type="file" #fileInput (change)="onFileSelected(fileInput.files, node, fileInput)" [accept]="accept" hidden multiple>
      </mat-tree-node>
    </mat-tree>
  </mat-tab>
  <mat-tab label="Preview">
    <iframe [src]="url" frameborder="0"></iframe>
  </mat-tab>
</mat-tab-group>
  <!-- <mat-tree [dataSource]="dataSource" [treeControl]="treeControl">
    <mat-tree-node *matTreeNodeDef="let node" matTreeNodePadding>
      <button mat-icon-button disabled></button>
      <button mat-raised-button (click)="onSelectFile(node)" color="primary">{{ node.name }}</button>
      <span class="divider"></span>
      <button mat-icon-button (click)="onDeleteNode(node)">
        <mat-icon>delete</mat-icon>
      </button>
    </mat-tree-node>
    <mat-tree-node *matTreeNodeDef="let node; let i = index; when: hasChild" matTreeNodePadding>
      <button mat-icon-button matTreeNodeToggle [attr.aria-label]="'Toggle ' + node.name">
        <mat-icon class="mat-icon-rtl-mirror">
          {{ treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right' }}
        </mat-icon>
      </button>
      <span class="text-uppercase">
        {{ node.name }}
      </span>
      <span class="divider"></span>
      <button (click)="onUpdateNode(node._id)" mat-icon-button class="text-muted">
        <mat-icon>edit</mat-icon>
      </button>
      <button (click)="onDeleteNode(node._id)" mat-icon-button class="text-muted">
        <mat-icon>delete</mat-icon>
      </button>
      <button mat-icon-button (click)="fileInput.click()" class="text-muted">
        <mat-icon>attach_file</mat-icon>
      </button>
      <input type="file" #fileInput (change)="onFileSelected(fileInput.files, node, fileInput)" [accept]="accept" hidden multiple>
    </mat-tree-node>
  </mat-tree> -->
  <!-- <div class="d-flex justify-content-center">
    <mat-spinner mode="determinate" [value]="percentDone"></mat-spinner>
  </div> -->
<mat-dialog-actions>
  <span class="spacer"></span>
  <button mat-stroked-button mat-dialog-close color="primary">VOLVER</button>
  <button type="button" mat-raised-button color="primary" (click)="onCreateNode(null)">NUEVA CARPETA</button>
  <!-- <input id="fileInput" type="file" #fileInput (change)="onFileSelected(fileInput.files, fileInput)" [accept]="accept" hidden multiple>   -->
</mat-dialog-actions>