<section class="container py-4">
  <h1>Busqueda Global</h1>
  <div class="mat-elevation-z2">
    <table mat-table [dataSource]="dataSource" class="w-100">
      <ng-container matColumnDef="guaranteeType">
        <th mat-header-cell *matHeaderCellDef>Garantia</th>
        <td mat-cell *matCellDef="let element">{{ element.guaranteeType }}</td>
      </ng-container>
      <ng-container matColumnDef="partnership">
        <th mat-header-cell *matHeaderCellDef>Consorcio</th>
        <td mat-cell *matCellDef="let element" [ngClass]="{ 'text-muted': !element.partnership }">{{ element.partnership ? (element.partnership.name | uppercase) : 'Ninguno' }}</td>
      </ng-container>
      <ng-container matColumnDef="customer">
        <th mat-header-cell *matHeaderCellDef>Cliente</th>
        <td mat-cell *matCellDef="let element">{{ element.customer.name | uppercase }}</td>
      </ng-container>
      <ng-container matColumnDef="policyNumber">
        <th mat-header-cell *matHeaderCellDef>N° de poliza</th>
        <td mat-cell *matCellDef="let element">{{ element.policyNumber }}</td>
      </ng-container>
      <ng-container matColumnDef="endDate">
        <th mat-header-cell *matHeaderCellDef>Fecha de cumplimiento</th>
        <td mat-cell *matCellDef="let element">{{ element.endDate | date }}</td>
      </ng-container>
      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let element">
          <button type="button" *ngIf="element.mails" mat-icon-button>
            <mat-icon>mail</mat-icon>
          </button>
          <button type="button" *ngIf="!element.mails" mat-icon-button>
            <!-- <mat-icon>mail</mat-icon> -->
          </button>
          <button type="button" mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
            <mat-icon>more_vert</mat-icon>
          </button>
          <mat-menu #menu="matMenu" xPosition="before">
            <button type="button" (click)="onShowDetails(element)" mat-menu-item>
              <mat-icon>info</mat-icon>
              <span>Detalles</span>
            </button>
            <button type="button" *ngIf="element.guaranteeType == 'GFCF'" [routerLink]="['/compliances', element._id, 'edit']" mat-menu-item>
              <mat-icon>edit</mat-icon>
              <span>Editar</span>
            </button>
            <button type="button" *ngIf="element.guaranteeType == 'GAMF'" [routerLink]="['/materials', element._id, 'edit']" mat-menu-item>
              <mat-icon>edit</mat-icon>
              <span>Editar</span>
            </button>
            <button type="button" *ngIf="element.guaranteeType == 'GADF'" [routerLink]="['/directs', element._id, 'edit']" mat-menu-item>
              <mat-icon>edit</mat-icon>
              <span>Editar</span>
            </button>
          </mat-menu>
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;" [ngClass]="{ 'bg-info': row.isMarked }"></tr>
    </table>
  </div>
</section>