<section class="container">
    <form [formGroup]="formGroup" autocomplete="off">
      <mat-form-field appearance="fill">
        <mat-label>Seguro</mat-label>
        <mat-select (selectionChange)="fetchData()" formControlName="type">
          <mat-option *ngFor="let type of types" [value]="type">{{ type }}</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Año</mat-label>
        <mat-select (selectionChange)="fetchData()" formControlName="year">
          <mat-option *ngFor="let year of years" [value]="year">{{ year }}</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Promotor</mat-label>
        <mat-select (selectionChange)="fetchData()" formControlName="workerId">
          <mat-option value="">TODOS LOS PROMOTORES</mat-option>
          <mat-option *ngFor="let element of workers" [value]="element._id" class="text-uppercase">{{ element.name | uppercase }}</mat-option>
        </mat-select>
      </mat-form-field>
    </form>
    <div class="d-flex">
        <div>
            <div>
                <canvas #insurancesChart width="900" height="300"></canvas>
            </div>
        </div>
    </div>
  </section>