<section class="container">
    <form [formGroup]="formGroup" autocomplete="off">
      <mat-form-field appearance="fill">
        <mat-label>Promotor</mat-label>
        <mat-select (selectionChange)="fetchData()" formControlName="workerId">
          <mat-option value="">TODOS LOS PROMOTORES</mat-option>
          <mat-option *ngFor="let element of workers" [value]="element._id" class="text-uppercase">{{ element.name | uppercase }}</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Seleccione un rango de fechas</mat-label>
        <mat-date-range-input [rangePicker]="picker">
        <input matStartDate placeholder="Desde" formControlName="startDate">
        <input matEndDate placeholder="Hasta" formControlName="endDate" (dateChange)="onRangeChange()">
        </mat-date-range-input>
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-date-range-picker #picker></mat-date-range-picker>
    </mat-form-field>
    </form>
    <div class="d-flex">
      <canvas #creditsChart></canvas>
    </div>
    <mat-list role="list">
      <mat-list-item class="text-bold">
        Total
        <span class="spacer"></span>
        {{ total }}
      </mat-list-item>
      <mat-list-item role="listitem" *ngFor="let element of summaries; let i = index">
        {{ element._id }} ({{ element.count }})
        <span class="spacer"></span>
        {{ element.totalPrima.toFixed(2) }}
      </mat-list-item>
    </mat-list>
  </section>